.articleSection{
    margin-top: -3rem;
    
}

.articleImg00{
    position:relative;
    width:100% ;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* .container{
    display: flex;
    flex-wrap:wrap;
    margin: 0 auto;
} */



    
.articleTitle{
    font-size: 40px;
    font-weight:bolder;
    margin-top: 5%;
    margin-bottom: 5%;
}


.articleAuthor{
    margin-top: 5%;
    margin-bottom: 5%;
}


.articleAuthor span{
    font-size: 15px;
}

.makeLinkDown{
    display: flex;
    flex-direction: column;
    
}

.outsideLink{
    display: flex;
    flex-direction: row;
    justify-content:right;
    position:relative;
    bottom: 30px;
    
}



.blogArticle p{
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 2.5rem;
    line-height: 1.75;
    color:#000;
}


.articleCardImg{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



/* 返回按鈕 */
.articleBackBtn{
    display: inline-block;      
    position: relative;
    vertical-align: middle;
    text-align:center;
    width: 100px;
    height: 40px;
    font-size:16px;
    font-weight:bolder;
    color: #FFFFFF;
    background: #E4D2A3;
    border-radius: 30px;
    margin:10rem auto ;
    padding: 7px 10px 5px 10px;
    justify-content: center;
    /* opacity: 0.8; */
    outline: 0;
    cursor: pointer;
    transition: .1s;
}

.articleBackBtn a{
    color: #FFFFFF;
    text-decoration: none;
    
}

/* 返回按鈕動畫效果 */
.articleBackBtn:hover{
    opacity: 1;
    transform: scale(1.05);
    color: #FFFFFF;

}

.articleBackBtn:active{
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(209, 209, 209, 0.2);
}



.articleRecommendWord{
    display: flex;
    font-size: 2.8rem;
    font-weight:bolder;
    justify-content: center;
    margin-bottom: 4rem;
}

.articleRecommendWrapper{
    justify-content: center;
    padding: 1.5%;
}


.articleRecommendCard {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.articleRecommendImg img{
    width: 100%;
    height: auto;
    padding: 2%;
}

.articleRecommend{
    display: flex;
    justify-content: center;
}



/* 
.articleRecommendCard ,
.articleRecommendCardImg{
    
    width: 100%;
    
} */










/* 行動裝置版RWD     */
@media screen and (max-width: 800px) {
    .makeLinkDown{
        display: flex;
        flex-direction:column-reverse;
    }
    
    
    .outsideLink{
        display: flex;
        flex-direction: row;
        justify-content:left;
        position:relative;
        top: 30px;
        
    }


    .blogArticle p{
    font-size: 18px;
    }
    
  
    .articleImg,.articleImg img{
        width: 100%;
    }

    .articleRecommendImg img {
    width: 60%;
    }

 

  /*隱藏recommendCard */
    .articleRecHidden{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    top: 6.7rem;
    z-index: 100;
    transition: all 2.5s;
    }
}

@media screen and (max-width: 400px) {

    .articleBanner{
      height:150px;
  }

  .articleTitle{
      font-size: 28px;
  }
  }
