.steps {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 25px 0 25px 20px;
}

.step,
.stepLine {
  float: left;
}

.step {
  display: block;
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  background: #e4d2a3;
}

.stepLine {
  width: 12rem;
  position: relative;
  top: 0.8rem;
  height: 5px;
  background-color: #e4d2a3;
}
.stepText1 {
  line-height: 2rem;
  color: white;
}
.stepText2 {
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.25);
}
.mSteps {
  display: none;
}

@media screen and (max-width: 800px) {
  .steps {
    display: none;
  }
  .mSteps {
    /* margin-top: -1rem; */
    display: flex;
    justify-content: center;
    position: relative;
    padding: 25px 0;
  }

  .mStep,
  .mStepLine {
    float: left;
  }

  .mStep1 {
    display: block;
    width: 3em;
    height: 3rem;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    background: #a37025;
  }
  .mStep2 {
    display: block;
    width: 3em;
    height: 3rem;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  .mStepLine {
    width: 7.5rem;
    position: relative;
    top: 1.5rem;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .mStepNum1 {
    line-height: 3rem;
    color: white;
  }
  .mStepText1 {
    width: 100px;
    padding-top: 1rem;
    margin-left: -1.5rem;
  }
  .mStepNum2 {
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.25);
  }
  .mStepText2 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .mStepLine {
    width: 5rem;
  }
}
