$colorMain: #E4D2A3;
$colorMain2: #7D704D;
$colorMain3: #A37025;

// 空白
.spaceTop {
  margin-bottom:2em;
}

.spaceTop2{
  margin-top:5em;
}

.checkOut {
    display: flex;
    justify-content: center;
}

// 流程圖

// .process {
//   display: flex;
//   justify-content: center;
// }

// .processRWD{
// display: none;
// }

// .processIn {
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

// .processInBox {
//   background-color: $colorMain;
//   display: flex;
//   justify-content: center;
//   padding: 5px 0;
//   border-radius: 13px;
// }

// .processInBoxNon {
//   padding: 0;
// }

// .processInBoxLine {
//   background-color: $colorMain;
//   width: 100%;
//   height: 5px;
//   margin-top: 13px;
// }

// .processInBoxwhite{
// color: white;
// }

// .processInBoxColor {
// color: $colorMain3;
// }

// .processInBoxNum {
// display: none;
// }

// .check2{
// color: #000;
// opacity:  0.25;
// }

//流程圖RWD 

@media (max-width:1024px) {
  .processInBox {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: $colorMain3;
    border: #000 1px solid 0.25;
    .check1{
      display: none;
    }
  }

  .processInBoxNum {
    display: block;
    color: white;
  }

  .processInBoxLine {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: black;
    opacity: 0.25;
  }

  .processRWD{
    display: flex;
  }

  .processRWDcenter{
    white-space:nowrap;
  }
  .check2{
    display: none;
  }
}

// 資料列表

// .together {
//   margin: auto;
// }
.superman{
    display: flex;
    align-items: center;
}

.body1{
  width: 50%;
}

.people {
    width:80%;
    
    input{
        width: 25em;
        border: $colorMain 1px solid;
    }

    div{
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
.store1{
    width:80%;
    // margin: auto;
}

// 資料列表RWD

@media (max-width:1024px) {
  .superman{
      display: inline;
  }
  .people{
    width: 100%;
    div{
        width: 100%;
        input {
            width: 100%;
        }
    }
}
  .body1{
      width: 100%;
  }
  .store1{
      width: 100%;
  }
  .cardWrap{
      width: 100%;
  }
  
}
// CRED

.body2{
  display: flex;
  margin-right: auto;
  justify-content: flex-end;
  height: 20em;
  width: 50%;
  align-items: center;
}

.selectStore{
    width:80%;
    // margin: auto;
}



.hisstoryStore{
    width:80%;
    // margin: auto;
    // display: none;
}

.hisstoryStoreName{
    width:80%;
    // margin: auto;
}

.totalCard{
    background-color: $colorMain;
    width: 100%;
    border-radius: 20px;
    padding: 3em;
    
}

.PaymentLast {
    border-radius: 10px;
    width: 7rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 2em;
    text-align: center;
}

// 流程圖RWD
@media (max-width:1024px) {

    .body2 {
      width: 100%;
  }
    .Payment {
      width: 100%;
      .sel--black-panther{
        width: 100%;
      }
      .sel__placeholder {
        text-align: center;
      }
    }

    .selectStore {
      width: 100%;
  }

    .hisstoryStore {
        width: 100%;
    }

    .totalCard {
        background-color: white;
        padding: 0;
    }
    .PaymentLast {
        border: 1px solid $colorMain;
    }
}


// 下拉式選單

.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  }

  @media (max-width:600px) {
    .rule {
      width: 100%;
    }
    .together {
      padding:0 30px;
    }

  }
  // 選單
  .sel {
    font-size: 10px;
    display: inline-block;
    // margin: 3em 2em;
    width:18em;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border: $colorMain 1px solid;
    border-radius: 5px;
    background: white;
  }
  
  .sel::before {
    position: absolute;
    content: '\f063';
    font-family: 'FontAwesome';
    font-size: 1.5em;
    color: white;
    right: 20px;
    top: calc(40% - 0.5em);
    color: $colorMain;
  }
  
  .sel.active::before {
    transform: rotateX(-180deg);
  }
  
  .sel__placeholder {
    display: block;
    font-family: 'Quicksand';
    font-size:16px;
    color: $colorMain;
    padding: 0.5em 1em;
    text-align: left;
    margin-left: 15px;
    pointer-events: none;
    user-select: none;
    visibility: visible;
  }
  
  .sel.active .sel__placeholder {
    visibility: hidden;
  }
  
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
  }
  
  .sel.active .sel__placeholder::before {
    visibility: visible;
    
  }
  
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 12px;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
  }
  
  .sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
  }
  
  .sel__box__options {
    display: list-item;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: $colorMain;
    padding: 0.5em 1em;
    user-select: none;
  }
  
  .sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size:12px;
    margin-left: 5px;
    display: none;
  }
  
  ion-icon{
    font-size: 10px;
  }

  .sel__box__options.selected::after {
    display: inline;
  }
  
  .sel__box__options:hover {
    background-color: $colorMain;
    color: white
  }
  
  /* ----- Select Box Black Panther ----- */
  
  .sel--black-panther {
    z-index: 3;
  }
  
  /* ----- Select Box Superman ----- */
  .sel--superman {
  /*   display: none; */
    z-index: 2;
  }
  
  /* ===== Keyframes ===== */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  .popo1 {
      z-index: 5;
  }
  .popo2 {
      z-index: 4;
  }