$colorMain: #E4D2A3;
$colorMain2: #7D704D;
$colorMain3: #A37025;

// 空白
.spaceTop {
  margin-bottom:2em;
}

.spaceTop2{
  margin-top:5em;
}

.checkOut {
    display: flex;
    justify-content: center;
}

// 流程圖

// .process {
//   display: flex;
//   justify-content: center;
// }

// .processRWD{
// display: none;
// }

// .processIn {
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

// .processInBox {
//   background-color: $colorMain;
//   display: flex;
//   justify-content: center;
//   padding: 5px 0;
//   border-radius: 13px;
// }

// .processInBoxNon {
//   padding: 0;
// }

// .processInBoxLine {
//   background-color: $colorMain;
//   width: 100%;
//   height: 5px;
//   margin-top: 13px;
// }

// .processInBoxwhite{
// color: white;
// }

// .processInBoxColor {
// color: $colorMain3;
// }

// .processInBoxNum {
// display: none;
// }

// .check2{
// color: #000;
// opacity:  0.25;
// }

//流程圖RWD 

@media (max-width:1024px) {
  .processInBox {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: $colorMain3;
    border: #000 1px solid 0.25;
    .check1{
      display: none;
    }
  }

  .processInBoxNum {
    display: block;
    color: white;
  }

  .processInBoxLine {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: black;
    opacity: 0.25;
  }

  .processRWD{
    display: flex;
  }

  .processRWDcenter{
    white-space:nowrap;
  }
  .check2{
    display: none;
  }
}

// 資料列表

// .together {
//   margin: auto;
// }
.superman{
    display: flex;
    align-items: center;
}

.body1{
  width: 50%;
}

.people {
    width:80%;
    
    input{
        width: 25em;
        border: $colorMain 1px solid;
    }

    div{
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
.store1{
    width:80%;
    // margin: auto;
}

// 資料列表RWD

@media (max-width:1024px) {
  .superman{
      display: inline;
  }
  .people{
    width: 100%;
    div{
        width: 100%;
        input {
            width: 100%;
        }
    }
}
  .body1{
      width: 100%;
  }
  .store1{
      width: 100%;
  }
  .cardWrap{
      width: 100%;
  }
  
}
// CRED

.body2{
  display: flex;
  margin-right: auto;
  justify-content: flex-end;
  height: 20em;
  width: 50%;
  align-items: center;
}

.selectStore{
    width:80%;
    // margin: auto;
}

.PaymentLast {
    &:hover{
        color: #eee;
        background-color: $colorMain3;
    }
}

.hisstoryStore{
    width:80%;
    // margin: auto;
    // display: none;
}

.hisstoryStoreName{
    width:80%;
    // margin: auto;
}

.totalCard{
    background-color: $colorMain;
    width: 100%;
    border-radius: 20px;
    padding: 3em;
    
}

.PaymentLast {
    border-radius: 10px;
    width: 7rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 2em;
    text-align: center;
}

// 流程圖RWD
@media (max-width:1024px) {

    .body2 {
      width: 100%;
  }
    .Payment {
      width: 100%;
      .sel--black-panther{
        width: 100%;
      }
      .sel__placeholder {
        text-align: center;
      }
    }

    .selectStore {
      width: 100%;
  }

    .hisstoryStore {
        width: 100%;
    }

    .totalCard {
        background-color: white;
        padding: 0;
    }
    .PaymentLast {
        border: 1px solid $colorMain;
    }
}


// 下拉式選單

.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  }

  @media (max-width:600px) {
    .rule {
      width: 100%;
    }
    .together {
      padding:0 30px;
    }

  }
  