$colorMain: #E4D2A3;
$colorMain2: #7D704D;
$colorMain3: #A37025;

// 空白
.spaceTop {
  margin-bottom:2em;
}

.spaceTop2{
  margin-top:5em;
}

.checkOut {
    display: flex;
    justify-content: center;
}

// 流程圖

// .process {
//   display: flex;
//   justify-content: center;
// }

// .processRWD{
// display: none;
// }

// .processIn {
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

// .processInBox {
//   background-color: $colorMain;
//   display: flex;
//   justify-content: center;
//   padding: 5px 0;
//   border-radius: 13px;
// }

// .processInBoxNon {
//   padding: 0;
// }

// .processInBoxLine {
//   background-color: $colorMain;
//   width: 100%;
//   height: 5px;
//   margin-top: 13px;
// }

// .processInBoxwhite{
// color: white;
// }

// .processInBoxColor {
// color: $colorMain3;
// }

// .processInBoxNum {
// display: none;
// }

// .check2{
// color: #000;
// opacity:  0.25;
// }

//流程圖RWD 

@media (max-width:1024px) {
  .processInBox {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: $colorMain3;
    border: #000 1px solid 0.25;
    .check1{
      display: none;
    }
  }

  .processInBoxNum {
    display: block;
    color: white;
  }

  .processInBoxLine {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: black;
    opacity: 0.25;
  }

  .processRWD{
    display: flex;
  }

  .processRWDcenter{
    white-space:nowrap;
  }
  .check2{
    display: none;
  }
}

// 編號

.member1{
    margin: 3em 0;
    padding: 1.5rem;
    width: 80%;
    margin: auto;
}

.memberNum{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

// 編號RWD
@media (max-width:1024px) {
    .member1 {
        padding: 0;
    }
}


//訂購人資訊

.member2 {
    margin: 3em 0;
    padding: 1.5rem;
    width: 80%;
    margin: auto;
}

.memberBody2{
margin-left: 8em;
}

.memberBodyIn {
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.memberBody3 {
  width: 35%;
}

.member3 {
  margin: 3em 0;
  padding: 1.5rem;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: end;
}
.memberBodyIn2 {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    padding: 1em 0;
}

.totalPrice {
  color: red;
  font-size: 32px;
}

.PaymentLast {
  border-radius: 10px;
  width: 7rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 2em;
  text-align: center;
  border: 1px solid $colorMain;
}

@media (max-width:1024px) {
  .memberNum{
    width: 100%;
  }

  .member2 {
    padding:1em 0;
    
  }

  .memberBody2 {
    margin-left: 0;
    padding: 0;
    margin-bottom: 0;
  }
  
  .memberBodyIn {
    width: 100%;
    justify-content: space-between;
  }
  .message {
    padding: 0 5em;
  }
  .member3 {
    padding:1.5em 0;
    width: 80%;
    justify-content: space-between;
    margin: auto;
  }
  .memberBody3{
    width: 100%;
  }
}
// @media (max-width:376px) {
//   .member3,.member2,.member1, .listBody{
//     margin:0 30px;
//   }
//   .memberBody {
//     width: 100%;
//   }
//   .member2 {
//    width: 80%;
//    }
// }