$colorMain: #E4D2A3;
$colorMain2: #7D704D;
$colorMain3: #A37025;
// 空白
.spaceTop {
  margin-bottom:2em;
}

.spaceTop2{
  margin-top:5em;
}

.checkOut {
    display: flex;
    justify-content: center;
}


// 流程圖

.process {
    display: flex;
    justify-content: center;
    width: 100%;
}
.processRWD{
  display: none;
}

.processIn {
    width: 50%;
    display: flex;
    justify-content: center;
}

.processInBox {
    background-color: $colorMain;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-radius: 13px;
    width: 20%;

}

.processInBoxNon {
    padding: 0;
}

.processInBoxLine {
    background-color: $colorMain;
    width: 100%;
    height: 5px;
    margin-top: 13px;
}

.processInBoxwhite{
  color: white;
}

.processInBoxColor {
  color: $colorMain3;
}

.processInBoxNum {
  display: none;
}

.check2{
  color: #000;
  opacity:  0.25;
}

//流程圖RWD

@media (max-width:1024px) {
  .processInBox {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: $colorMain3;
    border: #000 1px solid 0.25;
    .check1{
      display: none;
    }
  }

  .processInBoxNum {
    display: block;
    color: white;
  }

  .processInBoxLine {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: black;
    opacity: 0.25;
  }

  .processRWD{
    display: flex;
  }

  .processRWDcenter{
    white-space:nowrap;
  }
  .processIn {
    width: 100%;
  }
}


// 訂單列表
.list {
    width: 80%;
    margin: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1em 0;

    input {
        border-radius: 5px;
        border: 1px solid $colorMain;
    }
}

.listImg {
    width: 100%;
}


.numButton {
    border: #E4D2A3 1px solid;
    border-radius: 20px;
    height: 2em;
    text-align: center;

}

.quantityText ,.buttonLeft ,.buttonRight {
    display: flex;
    align-items: center;
}

.quantity {
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    border-left: #E4D2A3 1px solid;
    border-right: #E4D2A3 1px solid;
}

.nameRotate {
  width:40%;
  display: flex;
}

.deletestyle {
    text-decoration: none;
    border: #E4D2A3 1px solid;
    letter-spacing: 2px;
    span {
      color: black;
    }
    &:hover{
      background-color: #E4D2A3;
    }
  } 

.trash{
    display: none;
  }

  // list RWD
    
  @media (max-width:625px) {
    .listBody {
      margin: 0 30px 0 px;
    }
  }
  @media (max-width:1024px) {
    .listBody {
      // margin: 0 30px;
        input {
            width: 5rem;
        }
  }
  .listImg {
      width: 6em;
      height: 6em;
      padding: 0;
  }

  .nameRotate{
    flex-direction: column;
    padding-left: 2em;
    width: 8em;
  }

  .amount {
    display: none;
  }
  .quantityText {
    display: none;
  }
  .delete {
    display: none;
  }
  .numButton {
    border-radius: 0;
    border: 0;
  }
  .quantity {
    border: 0;
  }
  .buttonLeft {
    border-radius: 5px;
    color: white;
    background-color: $colorMain;
    border: 0;
  }
  .buttonRight {
    border-radius: 5px;
    color: white;
    background-color: $colorMain;
    border: 0;
  }
  .price {
    display: block;
  }

  .coffeeName {
    width: 8em;
    padding-bottom: 10px;
  }
  .trash {
    display: block;
  }
  .check2{
    display: none;
  }
  }



// 優惠列表

.Promo{
  display: flex;
  justify-content: end;
}

.btn-outline-secondary{
    background: white;
    border: 1px solid #e4d2a3;
    color: #e4d2a3;
    padding: 0px 5px 0 5px;

  }
  
  // 商品小計

.subtotal {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: end;
    h4{
      display: flex;
      justify-content: end;
    }
}

.points {
    p {
        margin-top: 1em;
    }

    input {
        margin-bottom: 2em;
    }
}

.Payment {
    h3 {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.PaymentLast {
    border: $colorMain 2px solid;
    border-radius: 10px;
    width: 7rem;
    margin-bottom: 2em;
    color: 	$colorMain2;
    display: flex;
    justify-content: center;
    background-color: white;
}


.payfun {
  display: flex;
  justify-content: end;
}

.dropdownbig {
    width: 25em;
    border: #E4D2A3 1px solid;
    padding: 10px 1rem;
    border: 2px solid #EDE1C1;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.2s
}
@media (max-width:1024px) {
    .dropdownbig {
        width: 100%;
    }

}


