<!DOCTYPE html>
<html>
  <head>
    <title>結帳測試</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>結帳測試</h1>
    <a href="http://localhost:3001/payment/paymentaction">結帳</a>
  </body>
</html>