<!DOCTYPE html>
<html>
  <head>
    <title>結帳測試</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>結帳測試</h1>
    <a href="https://team3-housecoffee-backend.herokuapp.com/payment/paymentaction?uid=f0a0d7e9fae1bb72bc93&totalPrice=333">結帳</a>
  </body>
</html>