.slick-prev:before,
.slick-next:before
{
    color: #E4D2A3;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    
  
    list-style: none;

    text-align: center;
}