.MBText {
    width: 280px;
    font-size: 1.5rem;
    margin: -7rem 5.5rem;
    margin-bottom: 2rem;
  }
  /* Slider */
  .slick-loading .slick-list {
    background: transparent;
  }
  
  /* Arrows */
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
  
    position: absolute;
    top: 50%;
  
    display: block;
  
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  
    cursor: pointer;
  
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
  
    opacity: 0.75;
    color: #e4d2a3;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* 
   .slick-prev {
    padding-right: 1rem;
  } */
  
  .slick-next:before {
    padding-left: 0.5rem;
  }
  
  .slick-dots {
    display: none;
  }
  .slick-dots li {
    display: none;
  }
  /* .mMoreinfo {
    display: flex;
    justify-content: center;
  } */
  .articleMobRecommendWrapper{
    display: flex;
    justify-content: center;
   
  }
 

 
    .articleMobRecommendImg{
        width: 240px;
        display: flex;
        justify-content: center;
        height:180px ;
        overflow: hidden;

  }

  .articleMobRecommendImg img{
    width: 100%;
    /* margin-left: -1.5rem; */
  }

  .blogmtitle{
    width:220px;
    word-break:break-all}

    /* .bM{
        margin: 1rem;
    } */
