@charset "UTF-8";
/* -------- 顏色 -------- */
/* -------- 字體 -------- */
body, h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: "Comfortaa", "Microsoft JhengHei", cursive;
  color: #4C3410;
  padding: 0;
  margin: 0;
}

/* -------- icon -------- */
ion-icon {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  fill: #4C3410;
  -webkit-transition: all .2s ease-in-out !important;
  transition: all .2s ease-in-out !important;
}

ion-icon:hover {
  fill: #E5D8B7;
}

/* -------- ScrollBar -------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #E4D2A3;
  border-radius: 3px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #A37025;
}

/* -------- button -------- */
.coffeeDarkBtn, .coffeeLightBtn {
  height: 40px;
  padding: 3px 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background: #A37025;
  border: none;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.coffeeDarkBtn:hover {
  cursor: pointer;
  color: #4C3410;
  background: #DDB44A;
}

.coffeeLightBtn:hover {
  cursor: pointer;
  color: white;
  border: 4px solid #A37025;
  background: #A37025;
}

.coffeeLightBtn {
  color: #E4D2A3;
  border: 4px solid #E4D2A3;
  background: white;
}

/* -------- navbar -------- */
.webNone {
  display: none;
}

.mobileNone {
  display: block;
}

.coffeeNavbar {
  width: 100%;
  height: 125px;
  padding: 0px 0rem;
  margin-bottom: 3rem;
  background: white;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 50;
}

.coffeeNavbar .sideDark {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 51;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.coffeeNavbar .webUserInfo {
  width: 140px;
  height: 200px;
  padding: 25px 15px 15px;
  margin: 0;
  background: no-repeat url("../img/webUserInfo.svg");
  border-radius: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 1;
}

.coffeeNavbar .webUserInfo a {
  padding: 5px;
  color: white;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coffeeNavbar .webUserInfo a:hover {
  color: #4C3410;
}

.coffeeNavbar .webUserInfo :last-child a {
  color: #A37025;
  font-size: larger;
}

.coffeeNavbar .webUserInfo :last-child a:hover {
  color: #4C3410;
}

.coffeeNavbar .webUserInfo :last-child ::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #4C3410;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 25px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.coffeeNavbar .webUserInfo :last-child :hover::after {
  width: 50px;
}

.coffeeNavbar div:nth-child(5):last-child li:hover .webUserInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffeeNavbar div {
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coffeeNavbar div:nth-child(3) {
  display: none;
}

.coffeeNavbar div:nth-child(4) {
  width: 10%;
}

.coffeeNavbar li {
  list-style: none;
}

.coffeeNavbar a {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4C3410;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.coffeeNavbar a:hover {
  color: #A37025;
}

.coffeeNavbar .navFirst li {
  margin: 0px 10px;
  overflow: hidden;
  position: relative;
}

.coffeeNavbar .navFirst li a {
  padding: 1px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #DDB44A;
  font-weight: 600;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coffeeNavbar .navFirst li a:hover {
  color: #A37025;
}

.coffeeNavbar .navFirst li p {
  margin: 0;
  font-weight: 600;
  color: #4C3410;
}

.coffeeNavbar .navFirst li:nth-child(n+3):nth-child(-n+7) {
  height: 28px;
  line-height: 28px;
}

.coffeeNavbar .navFirst li:nth-child(n+3):nth-child(-n+7) a:hover {
  margin-top: -28px;
}

.coffeeNavbar div img {
  width: auto;
  height: 110px;
  margin: 1px 1rem;
}

@media screen and (max-width: 800px) {
  .closeSideNav {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .webNone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobileNone {
    display: none;
  }
  .coffeeNavbar {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .coffeeNavbar div {
    width: 20%;
  }
  .coffeeNavbar .navFirst {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 260px;
    min-height: 100vh;
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 1rem;
    background: white;
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .coffeeNavbar .navFirst li {
    width: 200px;
    margin: .9rem auto;
  }
  .coffeeNavbar .navFirst li a {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .coffeeNavbar .navFirst .openMemberDetail, .coffeeNavbar .navFirst .openNavSide {
    cursor: pointer;
  }
  .coffeeNavbar .navFirst .memberDetail {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .coffeeNavbar .navFirst .memberDetail li:nth-child(n+1):nth-child(-n+5) {
    width: 180px;
    height: 30px;
    padding: 5px;
    margin: 5px auto 5px 10px;
  }
  .coffeeNavbar .navFirst .memberDetail li:nth-child(n+1):nth-child(-n+5) a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #4C3410;
  }
  .coffeeNavbar .navFirst .memberDetail li:nth-child(n+1):nth-child(-n+5) a:hover {
    margin-top: 0;
    color: #A37025;
  }
  .coffeeNavbar .navFirst li:nth-child(n+3):nth-child(-n+7) a:hover {
    margin-top: 0px;
  }
  .coffeeNavbar div:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .coffeeNavbar .navSideX {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  .coffeeNavbar {
    height: 90px;
  }
  .coffeeNavbar .logo a img {
    width: 80px;
  }
}

/* -------- input checkbox radio -------- */
.adminInput {
  width: 330px;
  height: 40px;
  padding: 3px 1.5rem;
  border: 2px solid #EDE1C1;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

/* -------- footer -------- */
.coffeeFooter {
  width: 100%;
  height: 300px;
  padding-top: 3rem;
  color: #4C3410;
  background: #EDE1C1;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.coffeeFooter div:nth-child(2) div {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.coffeeFooter div:nth-child(2) div i {
  margin-right: 5px;
}

.coffeeFooter div {
  margin: 1rem;
}

.coffeeFooter div li {
  padding: 0.2rem 0rem;
}

.coffeeFooter a {
  color: #4C3410;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.coffeeFooter a:hover {
  color: #A37025;
}

@media screen and (max-width: 800px) {
  .coffeeFooter {
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .coffeeFooter div {
    margin: .5rem;
  }
  .coffeeFooter div li {
    text-align: center;
    padding: 0.2rem 0rem;
  }
  .coffeeFooter div:nth-child(2) div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */