<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogCard</title>
    <link rel="stylesheet" href="../css/blogBanner.css">
    <link rel="stylesheet" href="../css/blogNavbar.css">
    <link rel="stylesheet" href="../css/blogCard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>

<!-- <div class="card-zone">
    <div class=" ">
        <div class="row " >
            row-cols-1 row-cols-md-3 g-4 -->
            <div class="col-lg-4 col-md-6  col-sm-1">
                <div class="cardBorder">
                    <div class="cardImg"></div>
                    <div class="cardText">
                        <h3>冰滴咖啡</h3>
                        <p>冰滴咖啡、冷泡咖啡、冰釀咖啡、氮氣咖啡，各式冷萃咖啡介紹....... </p>
                    </div>
                    <div class="cardInfo">
                        <a href="">+more</a>
                        <span>date</span>
                    </div>
                </div>
            </div>
            <script src="js/bootstrap.min.js"></script>
        </body>
        </html>