.articleBanner{
    width:100% ;
    height: 500px;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Article00.svg);
    
}


    
.title h1{
    font-size: 40px;
    font-weight:bolder;

}
.makeLinkDown{
    display: flex;
    flex-direction: column;
}

.outsideLink{
    display: flex;
    flex-direction: row;
    justify-content:right;
    position:relative;
    bottom: 30px;
    
}




article p{
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
    color:#000;
}

span{
    font-size: 15px;
}


/* .recommendZone{
    display: flex;
} */

.row{
    flex-wrap: nowrap;
}

/* 返回按鈕 */
.backBtn{
display: inline-block;      
position: relative;
vertical-align: middle;
width: 100px;
height: 40px;
font-size:16px;
font-style: normal;
font-family: 'Yantramanav';
font-weight:bolder;
text-align:center;
color: #FFFFFF;
background: #E4D2A3;
border-radius: 30px;
padding: 7px 10px 5px 10px;
opacity: 0.8;
}

.backBtn a{
    color: #FFFFFF;
    text-decoration: none;
}

/* 返回按鈕動畫效果 */
.backBtn:hover{
    opacity: 1;
    transform: scale(1.05);
}

.backBtn:active{
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(209, 209, 209, 0.2);
}

.backBtn{
    outline: 0;
    cursor: pointer;
    transition: .1s;
}

.recommend{
    display: flex;
    font-size: 30px;
    font-weight:bolder;
justify-content: center;
}

.recommendCard{
    display:inline-block;
    
}



.recommendImg img{
    width: 200px;
    height: 155px;
}

.slideBtnLeft {
    width: 40px;
    /* margin-left: 11rem; */
    margin-bottom: 1rem;
    transition: .5s;
}

.slideBtnRight {
    width: 40px;
    /* margin-right: 12rem; */
    margin-bottom: 1rem;
    transition: .5s;
}

.recommendCard .recommendImg {
    /* display: block; */
    margin: 0 auto;
}
.recommendCard .recommendImg img{
    display: block;
    margin: 0 auto;
}
.recommendCard p{
    width: 200px;
}
.abc{
    width: fit-content;
    margin: 0 auto;
}
.abc123{
    display: inline-block;
    height: 100%;
}
.recommendCard{
    margin: 0 20px;
}



/* Article的RWD */
/* @media screen and (max-width: 1100px) 
    
/* p
    font-size: 16px;
 */

/*   */ 

.articleImg{
    width:754px;
    margin: auto;
}


    
@media screen and (max-width: 800px) {
    .makeLinkDown{
        display: flex;
        flex-direction:column-reverse;
    }
    
    
    .outsideLink{
        display: flex;
        flex-direction: row;
        justify-content:left;
        position:relative;
        top: 30px;
        
    }


    .article p{
    font-size: 18px;
    }
    
    .articleImg{
        width: 100%;
    }
    .articleImg img{
        width: 100%;
    }

    .recommendCard {
    width: 20rem;
    }

 

  /*隱藏recommendCard */
    .recHidden{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    top: 67px;
    z-index: 100;
    transition: all 2.5s;
    }
}


