.cardZone{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.row{
    margin:auto;
    padding: auto;

}


.cardBorder{
    width: 387px;
    height: 454px;
    padding: 36px 0px;
    border: 1px solid #E4D2A3;
    box-sizing:border-box;
    border-radius: 40px;
    margin: 75px;
    }
    

.cardImg {
    height: 211px;
    background-image: url("../img/3-3-1024x682.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cardImg, .cardText, .cardInfo{
    width: 323px;
    margin: 0 auto;
}

.cardInfo{
    margin-top: 50px;
    display: flex;
    justify-content:space-between
}

a{text-decoration: none;}


