.cardZone{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: centers;
}

.row{
    margin:auto;
    padding: auto;

}


.cardBorder{
    width: 100%;
    height: 454px;
    padding: 0px 0px;
    border: 1px solid #E4D2A3;
    box-sizing:border-box;
    border-radius: 40px;
    align-items: center;
    margin: 15px 0;
    }
    

.cardImg {
    height: 227px;
    margin-bottom: 20px;
    background-image: url("../img/3-3-1024x682.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius:40px ;
    border-top-right-radius: 40px;
}

.cardText, .cardInfo{
    width: 90%;
    margin: 0 auto;
}


.cardText {
    line-height:30px;
}

.cardText h3{
    font-size: 18px;
}


.cardInfo{
    margin-top: 50px;
    display: flex;
    justify-content:space-between
}

.cardInfo a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}



