body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*banner*/

/* -------------------- */

/*brand appeal*/
.appeal {
    width: 60%;
    color: #fff;
    background: #E4D2A3;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

.content {
    text-align: center;
    width: 70%;
    padding: 80px;

    align-items: center;
    letter-spacing: 3px;
}

#appealTitle {
    padding: 10px;
}

.content p {
    line-height: 30px;
    color: #4D3410;
}

/* -------------------- */

/* menu */
.menu {
    width: 80%;
    padding: 80px;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
}

.menu h1 {
    line-height: 30px;
    margin: 30px;
    color: #E4D2A3;
    box-shadow: 2px #555 5px;
}

.allMenu {
    display: flex;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    color: #fff;
    padding: 30px;
}

.menuHover {
    transition: .8s;
    opacity: .9;
}

.menuHover:hover {
    transform: scale(1.1);
    opacity: 1;
}

.allMenu img {
    border-bottom: 1px white solid;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
}


.menuCard {
    width: 250px;
    background: #E4D2A3;
    border-radius: 15px 15px 0 0;
    padding: 50px;
    line-height: 10px;
    letter-spacing: 3px;
}

/* ------------------- */

/* flagship products */
.product {
    background: #4D3410;
    width: 100%;
    height: 850px;
    margin: 0px auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.allProduct {
    width: 70%;
    margin: 30px;
    padding: 30px 0;
}

.product h1 {
    color: #fff;
    padding: 30px;
}

.scrollDiv {
    width: 70%;
    height: 450px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior:smooth;
    white-space: nowrap;
    justify-content: center;
    margin: 0px auto;
    flex-grow: 1 100px;
    flex-flow: row wrap;
    /* display: flex; */
    /* text-align: center; */

}

.productscroll {
    padding: 50px;
    /* width: 70%; */
    text-align: center;
    color: #E4D2A3;
    margin: 0px auto;
    display: flex;
    flex-grow: 1 100px;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    display: inline-block;
}

.productscroll img{
    width: 600px;
    height: auto;
}

.productSel {
    display: flex;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 20px;
}

.productSel img {
    width: 150px;
    height: auto;

}

/* ------------------ */

/* TODAY’S ARTICLE */
.blog {
    padding: 30px;
}

.blog h1 {
    color: #E4D2A3;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* --------------------- */

/* store */
.store {
    width: 50%;
    height: 200px;
    padding: 30px;
    margin: 0px auto;
    justify-content: center;
}

.store h1 {
    color: #E4D2A3;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.allStore {
    width: 80％;
    margin: 0px auto;
    display: flex;
    text-align: center;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 30px;
}

#city option{
    border: #E4D2A3;
    color: #E4D2A3;
    background: #fff;
}

#city,
#store {
    border: 2px #E4D2A3 solid;
    border-radius: 20px;
    background: #fff;
    color: #E4D2A3;
    width: 150px;
    height: 35px;
    text-align: center;
}

#storeBtn {
    border: 2px #E4D2A3 solid;
    border-radius: 20px;
    background: #fff;
    color: #E4D2A3;
    width: 70px;
    height: 35px;
    text-align: center;
}

/* --------------------- */

/* news & activity */
.aside {
    width: 80％;
    margin: 0px auto;
    display: flex;
    text-align: center;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 30px;
}

.new {
    width: 35%;
    line-height: 50px;
}

.new h1 {
    color: #E4D2A3;
}

.allNew {
    width: 100%;
    margin: 0px auto;
    padding: 40px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.new1 {
    width: 100%;
    height: 100px;
    background: #ccc;
    border-radius: 10px;
    border: 5px #fff solid;
    color: #fff;
    margin: 0px auto;
    padding: 30px;
}

.new h5  { 
    display: inline-block;
    justify-content:center;
    align-items: center;
    flex-flow: row wrap;
    text-align: left;
}

.new .newTime  { 
    display: inline-block;
    justify-content:center;
    align-items: center;
    flex-flow: row wrap;
    text-align: right;
}

.activity {
    width: 35%;
}

.activity h1 {
    color: #E4D2A3;
}

.box1 {
    margin: 0px auto;
    display: flex;
    text-align: center;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 30px;
    line-height: 20px;
}

.coupon1 {
    width: 70%;
    height: 90px;
    background: #E4D2A3;
    color: #fff;
    border: 6px #fff solid;
    border-radius: 10px;
    line-height: 15px;
    /* padding: 50px 50px; */
    margin: 0px auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

}
.coupon1 p{
    padding: 5px 10px;
    margin: 10px 10px;
    text-align: left;
}


.copy1 {
    width: 20%;
    height: 90px;
    background: #E4D2A3;
    color: #fff;
    /* padding: 50px 50px; */
    border: 6px #fff solid;
    border-radius: 10px;
    align-items: center;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.copy1 p {
    padding: 50px 50px;
    justify-content: center;
    text-align: center;

}
/* --------------------- */


/* about us */
.aboutUs {
    width: 100%;
    height: 1158px;
    background-image: url(/home/image/about\ us.png);
    margin: 0px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 200px;
    opacity: 80%;
    color: #ccc;
}

.aboutUs:hover{
    transition: .5s;
    opacity: 100%;
    color: #4D3410;
}

.aboutUs h1 {
    justify-content: center;
    padding: 100px;
}

.aboutUs p {
    width: 40%;
    font-size: 20px;
    letter-spacing: 10px;
    margin: 0px auto;
    /* padding: 100px; */
    text-align: center;
    line-height: 30px;
}

/* --------------------- */