body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





/* D E S K T O P    1440px */

/*banner*/

/* -------------------- */

/*brand appeal*/
.appeal {
    width: 60%;
    color: #fff;
    background: #E4D2A3;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

.content {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 80px;
    align-items: center;
    letter-spacing: 3px;
}

.content h1 {
    padding: 10px;
    text-align: center;
}

.content p {
    line-height: 30px;
    color: #4D3410;
}

/* -------------------- */

/* menu */
.menu {
    width: 100%;
    padding: 50px;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
}

.menu h1 {
    line-height: 30px;
    margin: 30px;
    color: #E4D2A3;
    box-shadow: 2px #555 5px;
}

.allMenu {
    display: flex;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    color: #fff;
    padding: 30px;
}

.menuHover {
    transition: .8s;
    opacity: .9;
}

.menuHover:hover {
    transform: scale(1.1);
    opacity: 1;
}

.allMenu img {
    width: 250px;
    border-bottom: 1px white solid;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
}


.menuCard {
    width: 250px;
    background: #E4D2A3;
    border-radius: 15px 15px 0 0;
    padding: 50px;
    line-height: 10px;
    letter-spacing: 3px;
}

/* ------------------- */

/* flagship products */
.product {
    background: #4D3410;
    width: 100%;
    height: 850px;
    margin: 0px auto;
    /* padding: 30px; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.allProduct {
    width: 70%;
    margin: 30px;
    padding: 30px 0;
}

.product h1 {
    color: #fff;
    padding: 30px;
}

.scrollDiv {
    width: 70%;
    height: 450px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    margin: 0px auto;
    flex-grow: 1 100px;
    flex-flow: row wrap;
    /* display: flex; */
    /* text-align: center; */

}

.productscroll {
    padding: 50px;
    /* width: 70%; */
    text-align: center;
    color: #E4D2A3;
    margin: 0px auto;
    display: flex;
    flex-grow: 1 100px;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    display: inline-block;
}

.productscroll img {
    width: 600px;
    height: auto;
}

.productSel {
    display: flex;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 20px;
}

.productSel img {
    width: 150px;
    height: auto;

}

/* ------------------ */

/* TODAY’S ARTICLE */
.blog {
    width: 100%;
    padding: 30px;
}

.blog h1 {
    color: #E4D2A3;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.allCard {
    display: flex;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    /* color: #fff; */
    padding: 30px;
}

.cardBorder {
    width: 30%;
    height: auto;
    border: 1px solid #E4D2A3;
    box-sizing: border-box;
    border-radius: 40px;
    margin: 0 auto;
}

.cardImg img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

.cardText {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 30px;
}

.cardText h3 p {
    margin-bottom: 0;
}

.cardInfo {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.cardInfo a {
    color: #000;
    /* text-decoration: none; */
}

/* --------------------- */

/* store */
.store {
    width: 50%;
    height: 200px;
    padding: 30px;
    margin: 0px auto;
    justify-content: center;
}

.store h1 {
    color: #E4D2A3;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.allStore {
    width: 80％;
    margin: 0px auto;
    display: flex;
    text-align: center;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 30px;
}

#city option {
    border: #E4D2A3;
    color: #E4D2A3;
    background: #fff;
}

#city,
#store {
    border: 2px #E4D2A3 solid;
    border-radius: 20px;
    background: #fff;
    color: #E4D2A3;
    width: 150px;
    height: 35px;
    text-align: center;
}

#storeBtn {
    border: 2px #E4D2A3 solid;
    border-radius: 20px;
    background: #E4D2A3;
    color: #fff;
    width: 70px;
    height: 35px;
    text-align: center;
    /* margin: 10px 0; */
}

/* --------------------- */

/* news & activity */
.aside {
    width: 80％;
    margin: 0px auto;
    display: flex;
    text-align: center;
    flex-grow: 1 100px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 30px;
}

.new {
    width: 40%;
    line-height: 50px;
}

.new h1 {
    color: #E4D2A3;
}

.allNew {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 30px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.new1 {
    width: 100%;
    height: auto;
    background: #ccc;
    border-radius: 10px;
    border: 5px #fff solid;
    color: #fff;
    margin: 0px auto;
    padding: 30px;
}

.new h5 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: left;
    margin: 0;
}

.new .newTime {
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: right;
}

.activity {
    width: 40%;
}

.activity h1 {
    color: #E4D2A3;
}

.box1 {
    margin: 0px auto;
    display: flex;
    /* text-align: center; */
    flex-grow: 1 100px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 30px;
    /* line-height: 30px; */
}

.coupon1 {
    width: 70%;
    height: auto;
    background: #E4D2A3;
    color: #fff;
    /* border: 10px #fff solid; */
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: left;
    /* display: flex; */
    justify-content: center;
    align-items: center;

}

.couponText {
    padding: 10px;
}

.couponText h6 {
    margin: 0;
    /* line-height: 20px; */
    text-align: left;
}

.couponText p {
    margin: 0;
    text-align: left;
}

.copy1 {
    width: 25%;
    height: auto;
    background: #E4D2A3;
    color: #fff;
    padding: 20px 20px;
    /* border: 10px #fff solid; */
    border-radius: 5px;
    align-items: center;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.copy1 p {
    /* padding: 50px 50px; */
    margin: 0;
    justify-content: center;
    text-align: center;

}

/* --------------------- */


/* about us */
.aboutUs {
    width: 100%;
    height: auto;
    margin: 0px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding-top: 50px; */
    opacity: 80%;
    background-image: url(../home/image/cathead.png), url(../home/image/cattail.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top, center bottom;
}

.aboutUsTest {
    width: 100%;
    height: auto;
    padding: 300px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ccc;
}

.aboutUsTest:hover {
    transition: .5s;
    opacity: 100%;
    color: #4D3410;
}

.aboutUsTest h1 {
    justify-content: center;
    padding: 30px;
}

.aboutUsTest p {
    width: 40%;
    font-size: 20px;
    letter-spacing: 10px;
    margin: 0px auto;
    padding: 30px;
    text-align: center;
    line-height: 30px;
}

/* --------------------- */
/* ----------D E S K T O P  style  end----------- */





/* M O B I L E    375px */
@media screen and (max-width:380px) {

    /*brand appeal*/
    .appeal {
        width: 100%;
        height: auto;
        color: #fff;
        background: #E4D2A3;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        border-radius: 0 0 20px 20px;
    }

    .content {
        text-align: center;
        width: 90%;
        padding: 30px;
        align-items: center;
        letter-spacing: 1px;
    }

    #appealTitle {
        padding: 10px;
    }

    .content p {
        line-height: 30px;
        color: #4D3410;
    }

    /* -------------------- */

    /* menu */
    .menu {
        width: 100%;
        padding: 30px 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* margin-left: auto;
    margin-right: auto; */
    }

    .menu h1 {
        /* line-height: 30px; */
        margin: 0 auto;
        color: #E4D2A3;
        /* box-shadow: 2px #555 5px; */
    }

    .allMenu {
        width: 100%;
        display: flex;
        flex-grow: 1 100px;
        justify-content: space-evenly;
        flex-flow: row wrap;
        margin: 0 auto;
        align-items: center;
        color: #fff;
        padding: 20px 0;
    }

    .menuHover {
        transition: .8s;
        opacity: .9;
    }

    .menuHover:hover {
        transform: scale(1.1);
        opacity: 1;
    }

    .allMenu img {
        width: 100px;
        height: auto;
        border-bottom: 1px white solid;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
    }

    .menuCard {
        width: 100px;
        height: 60px;
        background: #E4D2A3;
        border-radius: 10px 10px 0 0;
        padding: 25px 0;
        /* line-height: 10px; */
        text-align: center;
        margin: 0 auto;
    }

    .menuCard p {
        width: 90px;
        font-size: small;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
    }

    /* ------------------- */

    /* flagship products */
    .product {
        width: 100%;
        height: auto;
        background: #4D3410;
    }

    .allProduct {
        width: 90%;
        padding: 10px;
    }

    .product h1 {
        color: #E4D2A3;
    }

    .scrollDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .productSel {
        display: none;
    }

    /* ------------------ */

    /* TODAY’S ARTICLE */
    .blog {
        width: 100%;
        margin-top: 10px;

    }

    .blog h1 {
        color: #E4D2A3;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
    }

    .allCard {
        width: 100％;
        margin: 0px auto;
        display: inline-block;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding: 0 20px;
    }

    .allCard .cardBorder:not(:first-child) {
        display: none;
    }

    .cardBorder {
        width: 80%;
        height: auto;
        /* padding: 30px 0px; */
        border: 1px solid #E4D2A3;
        box-sizing: border-box;
        border-radius: 40px;
        margin: 0 auto;
    }

    .cardImg img {
        width: 90%;
        height: auto;
        border-radius: 5px;
        align-items: center;
        /* margin: 0 auto; */
        padding: 30px 0;
    }

    .cardImg,
    .cardText,
    .cardInfo {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 0 30px;
    }

    .cardInfo {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    .cardInfo a {
        text-decoration: none;
    }

    /* --------------------- */

    /* store */
    .store {
        width: 50%;
        height: auto;
        padding: 50px 0;
        margin: 0px auto;
        justify-content: center;
    }

    .store h1 {
        color: #E4D2A3;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
    }

    .allStore {
        width: 100％;
        margin: 0px auto;
        display: inline-block;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding: 0 20px;
    }

    #city,
    #store {
        border: 2px #E4D2A3 solid;
        border-radius: 20px;
        background: #fff;
        color: #E4D2A3;
        width: 150px;
        height: 35px;
        text-align: center;
        justify-content: center;
        margin: 10px 0;

    }

    #storeBtn {
        border-radius: 20px;
        background: #E4D2A3;
        color: #fff;
        width: 70px;
        height: 35px;
        text-align: center;
        margin: 10px 0;
    }

    /* ------------------ */

    /* news & activity */
    .aside {
        width: 100％;
        margin: 0px auto;
        /* display: flex; */
        text-align: center;
        flex-grow: 1 100px;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        /* padding: 30px; */
    }

    .new {
        width: 100%;
        height: auto;
        /* line-height: 30px; */
    }

    .new h1 {
        color: #E4D2A3;
        margin-bottom: 0;
    }

    .allNew {
        margin: 0px auto;
        margin-bottom: 50px;
        /* padding: 30px; */
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    .new1 {
        background: #ccc;
        /* border-radius: 10px; */
        /* border: 5px #fff solid; */
        color: #fff;
        margin: 5px auto;
        text-align: center;
        flex-grow: 1 100px;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        padding: 10px 30px;
    }

    .newTime {
        text-align: center;
    }

    .new1 h5 {
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        text-align: center;
        margin: 0;
    }

    .activity {
        width: 100%;
    }

    .activity h1 {
        color: #E4D2A3;
        margin: 0 30px;
    }

    .box1 {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 50px;
        display: flex;
        /* text-align: center; */
        flex-grow: 1 100px;
        justify-content: space-evenly;
        align-items: stretch;
        flex-flow: row wrap;
        /* padding-bottom: 30px; */
        /* line-height: 30px; */
    }

    .coupon1 {
        width: 55%;
        height: auto;
        background: #E4D2A3;
        color: #fff;
        /* border: 5px #fff solid; */
        border-radius: 5px;
        padding: 20px 20px;
        margin: 5px auto;
        text-align: left;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        line-height: 20px;

    }

    .couponText h6 {
        /* padding: 10px 10px;
    margin: 10px 10px; */
        /* line-height: 10px; */
        margin: 0 auto;
        text-align: left;
        justify-content: center;
        font-size: 18px;
    }

    .couponText p {
        /* line-height: 10px; */
        margin: 0 auto;
        text-align: left;
        font-size: 14px;
        justify-content: center;

    }

    .copy1 {
        width: 20%;
        height: auto;
        background: #E4D2A3;
        color: #fff;
        padding: 50px 50px;
        /* border: 5px #fff solid; */
        border-radius: 5px;
        align-items: center;
        margin: 5px auto;
        display: flex;
        justify-content: center;
    }

    .copy1 p {
        /* padding: 50px 50px; */
        justify-content: center;
        text-align: center;

    }

    /* --------------------- */

    /* about us */
    .aboutUs {
        width: 100%;
        height: auto;
        margin: 0px auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* padding-top: 50px; */
        opacity: 80%;
        background-image: url(../home/image/cathead.png), url(../home/image/cattail.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center top, center bottom;
    }

    .aboutUsTest {
        width: 100%;
        height: auto;
        padding: 120px 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #ccc;
    }

    .aboutUsTest:hover {
        transition: .5s;
        opacity: 100%;
        color: #4D3410;
    }

    .aboutUsTest h1 {
        justify-content: center;
        padding: 10px;
    }

    .aboutUsTest p {
        width: 55%;
        font-size: 16px;
        letter-spacing: 3px;
        margin: 0px auto;
        padding: 10px;
        text-align: center;
        line-height: 30px;
    }

    /* --------------------- */

}


/* ----------M O B I L E  style  end----------- */