@charset "UTF-8";
/* -------- 顏色 -------- */
/* -------- 字體 -------- */
.mapAndCardWrap {
  margin-top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.storeSearch {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.1);
}

.storeSearch input {
  width: 100%;
  background: transparent;
  border: 0;
}

.storeSearch input:focus {
  outline: none;
}

.storeSearch svg {
  cursor: pointer;
}

.cardGroupWrap {
  width: 375px;
  height: calc(100vh - 150px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.storeWrap {
  width: 375px;
  height: calc(100vh - 150px);
  padding: .1rem .5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cardDetail {
  width: 375px;
  height: 100vh;
  padding: 15px 40px;
  background: white;
  position: absolute;
  top: 0;
  left: -400px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: scroll;
}

.cardDetail li {
  padding: 5px 0;
  list-style: none;
  font-weight: 600;
}

.cardDetail .closeCardDetail {
  text-align: right;
  margin-bottom: 20px;
}

.cardDetail div li, .cardDetail div h5 {
  text-align: left;
  font-weight: 600;
}

.cardDetail .storeServeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
  row-gap: 5px;
}

.cardDetailOpenCss {
  left: 0px;
}

.cardWrap {
  width: 350px;
  height: 100px;
  margin-bottom: 5px;
  background: #F8F1DE;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cardWrap img {
  width: 25%;
  height: 60px;
  border-radius: 5px;
}

.cardWrap:hover {
  -webkit-box-shadow: 0px 0px 5px #4C3410;
          box-shadow: 0px 0px 5px #4C3410;
}

i {
  width: 10%;
  text-align: center;
  cursor: pointer;
}

.itemText {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemText p {
  margin: 0;
  font-size: 14px;
}

.itemText p:first-child {
  font-size: 16px;
}

.mapWrap {
  width: calc(100% - 350px);
  background: #000;
}

@media screen and (max-width: 800px) {
  .mapAndCardWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cardGroupWrap {
    width: auto;
  }
  .mapWrap {
    width: 100%;
    height: 60vh;
    background: #000;
  }
  .cardDetail {
    top: 800px;
    background: #E5D8B7;
  }
  .cardDetailOpenCss {
    top: 0px;
    left: calc(50% - 180px);
  }
}

.storeBanner {
  width: 100%;
  height: 500px;
  background: no-repeat center/cover url("../img/storeBanner.png");
  margin-top: -3rem;
}

.storeIndex {
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.storeIndex p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storeIndex div {
  width: 50%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  border: 2px solid #EDE1C1;
  border-radius: 40px;
  cursor: pointer;
}

.storeIndex div img {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.storeIndex div span {
  width: 100%;
  height: 300px;
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.storeIndex div:first-child img {
  width: 20%;
}

.storeIndex div:first-child span, .storeIndex div:nth-child(3) span {
  left: -100%;
}

.storeIndex div:nth-child(2) span {
  right: -100%;
}

.storeIndex div:first-child:hover img {
  width: 25%;
}

.storeIndex div:first-child:hover span {
  left: 0;
}

.storeIndex div:nth-child(2):hover span {
  right: 0;
}

.storeIndex div:nth-child(3):hover span {
  left: 0;
}

@media screen and (max-width: 600px) {
  .storeBanner {
    height: 300px;
  }
  .storeIndex {
    gap: 30px;
  }
  .storeIndex div {
    width: calc(100% - 60px);
  }
  .storeIndex div:nth-child(1) p, .storeIndex div:nth-child(1) img {
    display: none;
  }
  .storeIndex div:nth-child(1) span, .storeIndex div:nth-child(3) span {
    left: 0;
  }
  .storeIndex div:nth-child(2) span {
    right: 0;
  }
}
/*# sourceMappingURL=mapStyle.css.map */