/* .content {
  width: 80%;
  display: flex;
} */
.paytext {
  font-size: 1.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 10rem; */
}
.addNum {
  border: 1px solid #e4d2a3;
  border-radius: 10px;
  width: 7rem;
  height: 2rem;
}
.addNum text {
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  float: left;
}
.addNum input {
  width: 3rem;
  height: 2rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #e4d2a3;
}

@media screen and (max-width: 800px) {
  .mShop {
    display: block;
    color: rgb(129, 117, 117);
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3rem;
  }

  .type {
    padding-top: -1rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .typeDetail {
    width: 20%;
    display: block;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #e4d2a3;
    color: #4c3410;
  }

  .adminAside {
    /*隱藏選單開始*/
    max-height: 0;
    overflow: hidden;
    /*隱藏選單end*/
    position: absolute;
    /*追隨.header*/
    /*讓選單從左到右延伸start*/
    right: 0;
    left: 0;
    /*讓選單從左到右延伸end*/
    top: 67px;
    /*把menu-list位置移到.header下方。點擊menu滑出/因沒設header高度，所以用開發者工具看高多少*/
    z-index: 100;
    transition: all 2.5s;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 15rem;
  }
}
