/* .content {
  width: 80%;
  display: flex;
} */
main {
  padding-bottom: 50px;
}
.paytext {
  font-size: 1.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 10rem; */
}
.memNo {
  padding-top: 1rem;
}
.memNoText {
  display: flex;
  margin-bottom: 1rem;
}
.memNoText p {
  padding-right: 2rem;
}

.perInfo {
  padding-top: 1rem;
  line-height: 2rem;
}
.note {
  line-height: 2rem;
}
.pTitle {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.packageImg {
  width: 100%;
}
.perInfo {
  display: flex;
}
.perInfoTextL {
  width: 15%;
}
.perInfoTextL p,
.perInfoTextR p {
  margin-bottom: 1rem;
}
.payDetail {
  display: flex;
  justify-content: flex-end;
}
.payDetailTextL {
  width: 15%;
}
.payDetailTextL p,
.payDetailTextR p {
  margin-bottom: 1rem;
}
.payDetailTextL h5,
.payDetailTextR h5 {
  margin-top: 2rem;
}
.payDetailTextR p,
.payDetailTextR h5 {
  text-align: right;
}
.mContent {
  display: none;
}

@media screen and (max-width: 800px) {
  .Content {
    display: none;
  }
  .memNo {
    margin-top: 2rem;
  }
  .mContent {
    display: inline;
  }
  .mPayInfo .box {
    display: flex;
    width: 90%;
    /* justify-content: center; */
  }
  .mPayInfoText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 1rem;
  }
  .mPayMoney {
    display: flex;
  }
  .mPayMoney .R {
    margin-left: 1.5rem;
  }
}
