/* .content {
  width: 80%;
  display: flex;
} */
main {
  padding-bottom: 50px;
}
.paytext {
  font-size: 1.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 10rem; */
}

.memNo{
    line-height:2rem
    
}

.perInfo{
    padding-top: 1rem;
    line-height:2rem
}
.note{
        line-height:2rem
}
.pTitle{
    font-size: 1.5rem;
    padding-top: 0.5rem;
}
.pDetail{
    padding-top: 1rem;
    line-height:2rem 
}


@media screen and (max-width: 800px) {
  .mShop {
    display: block;
    color: rgb(129, 117, 117);
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3rem;
  }

  .type {
    padding-top: -1rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .typeDetail {
    width: 20%;
    display: block;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #e4d2a3;
    color: #4c3410;
  }

  .adminAside {
    /*隱藏選單開始*/
    max-height: 0;
    overflow: hidden;
    /*隱藏選單end*/
    position: absolute;
    /*追隨.header*/
    /*讓選單從左到右延伸start*/
    right: 0;
    left: 0;
    /*讓選單從左到右延伸end*/
    top: 67px;
    /*把menu-list位置移到.header下方。點擊menu滑出/因沒設header高度，所以用開發者工具看高多少*/
    z-index: 100;
    transition: all 2.5s;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 15rem;
  }
 .memNo {
  padding-top: 1rem;
}
.memNoText {
  display: flex;
  margin-bottom: 1rem;
}
.memNoText p {
  padding-right: 2rem;
}

.perInfo {
  padding-top: 1rem;
  line-height: 2rem;
}
.note {
  line-height: 2rem;
}
.pTitle {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.packageImg {
  width: 100%;
}
.perInfo {
  display: flex;
}
.perInfoTextL {
  width: 15%;
}
.perInfoTextL p,
.perInfoTextR p {
  margin-bottom: 1rem;
}
.payDetail {
  display: flex;
  justify-content: flex-end;
}
.payDetailTextL {
  width: 15%;
}
.payDetailTextL p,
.payDetailTextR p {
  margin-bottom: 1rem;
}
.payDetailTextL h5,
.payDetailTextR h5 {
  margin-top: 2rem;
}
.payDetailTextR p,
.payDetailTextR h5 {
  text-align: right;
}
.mContent {
  display: none;
}

@media screen and (max-width: 800px) {
  .Content {
    display: none;
  }
  .memNo {
    margin-top: 2rem;
  }
  .mContent {
    display: inline;
    width: 100%;
  }
  .mPayInfo {
    width: 100%;
    margin-bottom: 2rem;
  }
  .mPayInfo .box {
    display: flex;
    width: 100%;
    /* justify-content: center; */
  }
  .mPayInfoText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 1rem;
  }
  .mPayMoney {
    display: flex;
  }
  .mPayMoney .R {
    margin-left: 1.5rem;
  }
  .pickUp {
    display: flex;
    justify-content: space-between;
  }
  .pickUpL p {
    margin-bottom: 1rem;
  }

  .pickUpR p {
    margin-bottom: 1rem;
    text-align: right;
  }
  .pickInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .pickInfoL p {
    margin-bottom: 1rem;
  }
  .pickInfoR p {
    margin-bottom: 1rem;
    text-align: right;
  }
  .mPayTotalCheck .box {
    padding: 1.5rem 0;
    width: 90%;
    height: auto;
    border: 1px solid gray;
  }
  .mPayTotalCheck {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .totalInfo1 {
    padding-top: 1rem;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  .line {
    margin: 0 2rem;
    width: 90%;
    /* height: 1px; */
    border-top: solid 1px rgba(0, 0, 0, 0.46);

  }

