$colorMain: #E4D2A3;
$colorMain2: #7D704D;
$colorMain3: #A37025;

.bodyMenu{
    display: flex;
}
.scrollBody {
    width: 100%;
}
.scroll {
    display: none;
    // display: inline-block;
    
    span{
        display: flex;
        justify-content: center;
    }
   
}


// aside

.main1{
    width: 23%;
    display: flex;
    justify-content: flex-end;
}

.onlion {
    margin-bottom: 1em;
    font-size: x-large;
}

.main2 {
    width: 65%;
    margin: auto;
}

.mainBody {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    // align-items: flex-start;
    // justify-content: flex-start;
}



.asideMenu{ 
    
    ul{
        list-style:none;
        padding: 0;
        a{
            text-decoration:none;
        }
        li{
            padding: 1em 0;
            &:hover{
                border-left: 1px solid $colorMain;
                color: #E4D2A3;
            }
        }
    
    }
}


// card

.card {
    margin: 2em;
    border: 0;
    // z-index: 1;
    a{
        text-decoration:none;
    }
}

.cardpading {
    padding: 1em 0;
}

.listBody {
    display: none;
}

@media (max-width:800px) {
    .asideMenu {
        display: none;
    }
    
    .card{
        display: none;
    }
    .listBody {
        display: flex;
        margin: 2em 0;
    }
}
// list RWD
@media (max-width:1024px) {
    .listBody {
        input {
            width: 5rem;
        }
  }
  .listImg {
      width: 6em;
      height: 6em;
      padding: 0;
  }
  .main2 {
      margin: 0 ;
  }
  .nameRotate{
    flex-direction: column;
    // padding-left: 2em;
    // width: 22em;
  }
  
  .amount {
    display: none;
  }
  .quantityText {
    display: none;
  }
  
  .numButton {
    border-radius: 0;
    border: 0;
  }
  .quantity {
    border: 0;
  }
  
  .price {
    display: block;
    
  }
  
  .coffeeName {
    width: 8em;
    display: flex;
    justify-content: center;
  }
  
  .quantityText1 {
    width: 5em;
  }
  } 
  
  @media (max-width:376px) {
    .nameRotate{
      width: 8em;
    }
  }

@media (max-width:800px) {

    .scrollBody {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
        width:100%;
        
    }

   .scroll{
       width: 1000px;
       display: flex;
       height: 2em;
       border: 1px solid $colorMain;
       padding-top: 5px;
    //    overflow-x: scroll;
   }
   .asd{
       display: flex;
       width: 200%;
       scrollbar-width: none;
   }
   .pagination_rounded {
       display: none;
       ul {
        display: none;
       }
   }

}

.pagination_rounded, .pagination_square {
	display:flex;
    justify-content: center;
	
}
.pagination_rounded {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			float: left;
			margin-left: 20px;
			a {
				float: left;
				color: $colorMain;
				border-radius: 50%;
				line-height: 30px;
				height: 30px;
				width: 30px;
				text-align: center;
				margin-bottom: 40px;
				border: 1px solid #e0e0e0;
				&:hover {
					background: #4285f4;
					color: #fff;
					border: 1px solid #4285f4;
				}
			}
		}
	}
	li {
		&:first-child {
			margin-left: 0px;
		}
	}
	.prev {
		margin-left: 0px;
		border-radius: 35px;
		width: 90px;
		height: 34px;
		line-height: 34px;
		i {
			margin-right: 10px;
		}
	}
	.next {
		border-radius: 35px;
		width: 90px;
		height: 34px;
		line-height: 34px;
	}
}
a {
	&:link {
		text-decoration: none;
	}
}
.visible-xs {
	display: none!important;
}

//  POPO

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 8em auto;
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    width: 50%;
    position: relative;
    // transition: all 5s ease-in-out;
    height: 60%;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: $colorMain;
  }
  .popup .content {
    overflow: auto;
  }

  .popoimg {
    //   width: 30%;
      padding: 2em;
  }

  .content {
      display: flex;
  }
  .content1 {
    display: flex;
    justify-content: center;
  }
  .content2 {
      display: flex;
      justify-content: end;
      padding:0 2em;
  }
  .PaymentLast {
    border-radius: 10px;
    border: 1px solid $colorMain;
    width: 7rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 2em;
    text-align: center;
}
.popupName {
    h2{
      display: flex;
      padding-left:1em;
    }
}
  .popotext {
      padding: 2em;
  }
  .numButton {
    border: #E4D2A3 1px solid;
    border-radius: 20px;
    height: 2em;
    text-align: center;

}

.quantityText ,.buttonLeft ,.buttonRight {
    display: flex;
    align-items: center;
}

.quantity {
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    border-left: #E4D2A3 1px solid;
    border-right: #E4D2A3 1px solid;
}
.btn2 {
    display: none;
}
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 80%;
      height: 80%;
    }
    .popoimg {
        padding: 20px;
    }
    .popotext {
        padding: 1em;
    }
    .overlay {
        width: 100%;
    }
    .content1 {
        justify-content: space-between;
        padding-left: 2em;
        align-items: flex-end
    }
    .numButton {
        display: flex;
    }
    .btn2 {
        display: flex;
    }
    .btn1 {
        display: none;
    }
   
    .body1 {
        justify-content: center;
    }

}

@media screen and (max-width: 376px){
    // .main2{
 
    // }
    .mainBody{
        justify-content: center;
    }
    .nameRotate {
        margin-left: 1em;
        display: flex;
        align-items: center;
    }
    }
