.main {
  padding-bottom: 2rem;
  width: 80%;
}
.paytext {
  font-size: 1.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 10rem; */
}
.payInfoStart {
  padding-top: 5rem;
  display: flex;
}
.questInfo {
  padding-bottom: 3rem;
}
.payInfoFill {
  width: 50%;
  margin-right: 5rem;
}
.payTotalCheck {
  width: 40%;
}
.payTotalCheck .box {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  background: rgba(228, 210, 163, 0.4);
}
.checkPart {
  /* padding-left: 11.5rem; */
}
.checkPart1 {
  padding-left: 7rem;
}
.buyerInfo input {
  /* width: 80%; */
  width: 100%;
  line-height: 2rem;
  margin-bottom: 2rem;
  /* margin-top: 0rem; */
}
.receiverInfo {
  margin-top: 3rem;
}
.receiverInfo input {
  /* width: 80%; */
  width: 100%;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.noteInfo {
  margin-top: 3rem;
  /* width: 80%; */
  width: 100%;
}
/* .shiptohome {
  display: none;
} */
/* .storepick {
  display: none;
} */
.storepick select {
  width: 80%;
}
.storepick p {
  margin-bottom: 1rem;
}

.totalInfo1 {
  padding-top: 1.5rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
.totalInfo1 p {
  margin-bottom: 1rem;
}
.totalInfo3 {
  padding-top: 1rem;
  margin: 0 2rem;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
}
.line {
  margin: 0 2rem;
  width: 90%;
  /* height: 1px; */
  border-top: solid 1px rgba(0, 0, 0, 0.46);
}
.finalPayBtn {
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.pbtn {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #4c3410;
  border: 1px solid #4c3410;
}

.nextBtn {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
  margin-left: 2rem;
}
.btnName {
  color: white;
}
.btnName:hover {
  color: #4c3410;
}

.btn-primary:hover {
  background-color: #e4d2a3;
  border: 1px solid #e4d2a3;
}
.radioS {
  display: flex;
  margin-top: 2rem;
}
.mText {
  display: none;
}
.mPayTotalCheck {
  display: none;
}
.money p,
h3 {
  text-align: right;
}
.error {
  margin-top: -2rem;
  font-size: 1rem;
  color: transparent;
  height: 2rem;
}

@media screen and (max-width: 1000px) {
  .mShop {
    display: block;
    color: rgb(129, 117, 117);
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3rem;
  }
  .payInfoStart {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
  }

  .payInfoFill {
    width: 100%;
    margin: 0 auto;
  }
  .payTotalCheck {
    display: none;
  }
  .mPayTotalCheck .box {
    /* width: 90%; */
    width: 100%;
    height: 350px;
    border: 1px solid gray;
  }
  .mPayTotalCheck {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .radioS {
    margin-top: 1.5rem;
    display: block;
  }
  .totalInfo1 {
    padding-top: 1rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  .mText {
    display: block;
  }
  .mText h3 {
    text-align: left;
  }
  .money p {
    text-align: right;
    padding-bottom: 1rem;
  }
  .checkPart {
    padding-left: 0rem;
  }
  .checkPart1 {
    padding-left: 0rem;
  }
  .mpayinfo1 p {
    /* font-size: 1.3rem; */
    text-align: left;
    padding-bottom: 1rem;
  }
  .totalInfo1 p {
    margin-bottom: 0rem;
  }
  .line {
    margin: 0 auto;
  }
}
