// 顏色
$main_color: #EDE1C1;
$secondary_color: #E5D8B7;
$font_border_color: #4C3410;
$navbar_font_color: #E4D2A3;
$nav_item_active: #DDB44A;
$nav_item_inactive: #A37025;


// 字體
$main_font: 'Comfortaa', "Microsoft JhengHei", cursive;
$content_font: 'Yantramanav', "Microsoft JhengHei", sans-serif;

body, h1, h2, h3, h4, h5, h6, p, span, a{
  font-family: $main_font;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

// ScrollBar 樣式

/* Track */
*::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
*::-webkit-scrollbar-thumb {
  background: $navbar_font_color;
  border-radius: 3px;
  transition: all 1s;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: $nav_item_inactive;
}


// button 相關
$btn_height: 40px;
$btn_font_size: 16px;

.coffeeDarkBtn, .coffeeLightBtn{
  height: $btn_height;
  padding: 3px 1rem;
  color: white;
  font-size: $btn_font_size;
  font-weight: 600;
  text-align: center;
  background: $nav_item_inactive;
  border: none;
  border-radius: 10px;
}
.coffeeDarkBtn:hover, .coffeeLightBtn:hover{
  cursor: pointer;
}
.coffeeLightBtn{
  color: $nav_item_active;
  background: $nav_item_active;
}

// navbar 相關
$nav_box_shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
$nav_box_radius: 0px;
$nav_li_height: 28px;

.webNone{
  display: none;
}
.mobileNone{
  display: block;
}

.coffeeNavbar{
  width: 100%;
  height: 125px;
  padding: 0px 0rem;
  margin-bottom: 3rem;
  background: white;
  border-radius: $nav_box_radius;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  box-shadow: $nav_box_shadow;

  .coffeeLightBtn{
    font-weight: 600;
  }
  div{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  div:nth-child(2){
    display: none;
  }
  div:nth-child(3){
    width: 10%;
  }
  li{
    list-style: none;
  }
  li:hover svg path{
    fill: $secondary_color;
  }
  a{
    padding: 1rem;
    color: $font_border_color;
    text-decoration: none;
    svg path{
      transition: all .3s;
      fill:$font_border_color;
    }
  }
  :first-child li{
    margin: 0px 10px;
    overflow: hidden;
    position: relative;
    a{
      padding: 1px 10px;
      display: flex;
      flex-direction: column;
      color: $nav_item_active;
      font-weight: 600;
      transition: all .3s;
      align-items: center;
    }
  }
  :first-child li:nth-child(n+3):nth-child(-n+6){
    height: $nav_li_height;
    line-height: $nav_li_height;
  }
  :first-child li:nth-child(n+3):nth-child(-n+6) a:hover{
    margin-top: -$nav_li_height;
    color: $nav_item_inactive;
  }
  div img{
    width: auto;
    height: 110px;
    margin: 1px 1rem;
  }
}
.sideDark{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  z-index: 1;
  transition: all .3s ease-in-out;
}

@media screen and (max-width:800px){
  
  .webNone{
    display: block;
  }
  .mobileNone{
    display: none;
  }

  .coffeeNavbar{
    position: relative;
    
    div:first-child{
      flex-direction: column;
      width: 260px;
      height: 100vh;
      text-align: start;
      align-items: flex-start;
      justify-content: start;
      // display: none;
      padding: 1rem;
      background: white;
      position: fixed;
      z-index: 2;
      top: 0;
      transition: all .3s ease-in-out;
      // left: -260px;
      li{
        width: 200px;
        margin: .9rem auto;
        a{
          align-items: flex-start;
        }
        :hover{
          background: rgb(244, 244, 244);
        }
      }
    }
    div:nth-child(2){
      display: flex;
    }
    .navSideX{
      position: absolute;
      right: 0;
    }
  }
}

// input 相關
$user_input_width: 330px;
$user_input_height: 40px;

.userInput{
  width: $user_input_width;
  height: $user_input_height;
  padding: 3px 1.5rem;
  border: 1px solid $main_color;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
}

// footer
.coffeeFooter{
  width: 100%;
  height: 250px;
  padding-top: 3rem;
  color: $font_border_color;
  background: $main_color;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  
  // div{
  //   margin: 2rem;
  // }
  div li{
    margin: 1rem;
  }
  a{
    color: $font_border_color;
    text-decoration: none;
  }
}
@media screen and (max-width:700px) {
  .coffeeFooter{
    height: 450px;
    flex-direction: column;
    align-items: center;
  }
}