.spaceTop {
  margin-bottom: 2em;
}

.spaceTop2 {
  margin-top: 5em;
}

.checkOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .processInBox {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #A37025;
    border: #000 1px solid 0.25;
  }
  .processInBox .check1 {
    display: none;
  }
  .processInBoxNum {
    display: block;
    color: white;
  }
  .processInBoxLine {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: black;
    opacity: 0.25;
  }
  .processRWD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .processRWDcenter {
    white-space: nowrap;
  }
  .check2 {
    display: none;
  }
}

.member1 {
  margin: 3em 0;
  padding: 1.5rem;
  width: 80%;
  margin: auto;
}

.memberNum {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 0;
}

@media (max-width: 1024px) {
  .member1 {
    padding: 0;
  }
}

.listBody {
  width: 80%;
  margin: auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1em 0;
}

.listBody input {
  border-radius: 5px;
  border: 1px solid #E4D2A3;
}

.listImg {
  padding: 1.5rem;
}

.quantityText1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantityText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity {
  line-height: 2rem;
  text-align: center;
  width: 2rem;
}

.nameRotate {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .listBody input {
    width: 5rem;
  }
  .listImg {
    width: 6em;
    height: 6em;
    padding: 0;
  }
  .nameRotate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 22em;
  }
  .amount {
    display: none;
  }
  .quantityText {
    display: none;
  }
  .numButton {
    border-radius: 0;
    border: 0;
  }
  .quantity {
    border: 0;
  }
  .price {
    display: block;
  }
  .coffeeName {
    width: 8em;
    padding-bottom: 10px;
  }
  .quantityText1 {
    width: 5em;
  }
}

@media (max-width: 376px) {
  .nameRotate {
    width: 8em;
  }
}

.member2 {
  margin: 3em 0;
  padding: 1.5rem;
  width: 80%;
  margin: auto;
}

.memberBody2 {
  margin-left: 8em;
}

.memberBodyIn {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px;
}

.memberBody3 {
  width: 35%;
}

.member3 {
  margin: 3em 0;
  padding: 1.5rem;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.memberBodyIn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px;
  padding: 1em 0;
}

.totalPrice {
  color: red;
  font-size: 32px;
}

.PaymentLast {
  border-radius: 10px;
  width: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 2em;
  text-align: center;
  border: 1px solid #E4D2A3;
}

@media (max-width: 1024px) {
  .memberNum {
    width: 100%;
  }
  .member2 {
    padding: 1em 0;
  }
  .memberBody2 {
    margin-left: 0;
    padding: 0;
    margin-bottom: 0;
  }
  .memberBodyIn {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .message {
    padding: 0 5em;
  }
  .member3 {
    padding: 1.5em 0;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  .memberBody3 {
    width: 100%;
  }
}
/*# sourceMappingURL=checkout3.css.map */