.spaceTop {
  margin-bottom: 2em;
}

.spaceTop2 {
  margin-top: 5em;
}

.checkOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.processRWD {
  display: none;
}

.processIn {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.processInBox {
  background-color: #E4D2A3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
  border-radius: 13px;
}

.processInBoxNon {
  padding: 0;
}

.processInBoxLine {
  background-color: #E4D2A3;
  width: 100%;
  height: 5px;
  margin-top: 13px;
}

.processInBoxwhite {
  color: white;
}

.processInBoxColor {
  color: #A37025;
}

.processInBoxNum {
  display: none;
}

.check2 {
  color: #000;
  opacity: 0.25;
}

@media (max-width: 1024px) {
  .processInBox {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #A37025;
    border: #000 1px solid 0.25;
  }
  .processInBox .check1 {
    display: none;
  }
  .processInBoxNum {
    display: block;
    color: white;
  }
  .processInBoxLine {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: black;
    opacity: 0.25;
  }
  .processRWD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .processRWDcenter {
    white-space: nowrap;
  }
  .check2 {
    display: none;
  }
}

.superman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body1 {
  width: 50%;
}

.people {
  width: 80%;
}

.people input {
  width: 25em;
  border: #E4D2A3 1px solid;
}

.people div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.store1 {
  width: 80%;
}

@media (max-width: 1024px) {
  .superman {
    display: inline;
  }
  .people {
    width: 100%;
  }
  .people div {
    width: 100%;
  }
  .people div input {
    width: 100%;
  }
  .body1 {
    width: 100%;
  }
  .store1 {
    width: 100%;
  }
  .cardWrap {
    width: 100%;
  }
}

.body2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20em;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectStore {
  width: 80%;
}

.popupName h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3em;
}

.hisstoryStore {
  width: 80%;
}

.hisstoryStoreName {
  width: 80%;
}

.totalCard {
  background-color: #E4D2A3;
  width: 100%;
  border-radius: 20px;
  padding: 3em;
}

.PaymentLast {
  border-radius: 10px;
  width: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 2em;
  text-align: center;
}

@media (max-width: 1024px) {
  .body2 {
    width: 100%;
  }
  .Payment {
    width: 100%;
  }
  .Payment .sel--black-panther {
    width: 100%;
  }
  .Payment .sel__placeholder {
    text-align: center;
  }
  .selectStore {
    width: 100%;
  }
  .hisstoryStore {
    width: 100%;
  }
  .totalCard {
    background-color: white;
    padding: 0;
  }
  .PaymentLast {
    border: 1px solid #E4D2A3;
  }
}

.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), color-stop(#c9bbae), to(#f0f0f0));
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

@media (max-width: 600px) {
  .rule {
    width: 100%;
  }
}

.sel {
  font-size: 10px;
  display: inline-block;
  width: 18em;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: #E4D2A3 1px solid;
  border-radius: 5px;
  background: white;
}

.sel::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 1.5em;
  color: white;
  right: 20px;
  top: calc(40% - 0.5em);
  color: #E4D2A3;
}

.sel.active::before {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-family: 'Quicksand';
  font-size: 16px;
  color: #E4D2A3;
  padding: 0.5em 1em;
  text-align: left;
  margin-left: 15px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 12px;
  background-color: #FFF;
  width: calc(100% + 8px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  -webkit-animation: fadeInUp 500ms;
          animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'Quicksand';
  font-size: 1.5em;
  color: #E4D2A3;
  padding: 0.5em 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 12px;
  margin-left: 5px;
  display: none;
}

ion-icon {
  font-size: 10px;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #E4D2A3;
  color: white;
}

/* ----- Select Box Black Panther ----- */
.sel--black-panther {
  z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
  /*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popo1 {
  z-index: 5;
}

.popo2 {
  z-index: 4;
}
/*# sourceMappingURL=checkout2.css.map */