.bodyMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrollBody {
  width: 100%;
}

.scroll {
  display: none;
}

.scroll span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main1 {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.onlion {
  margin-bottom: 1em;
  font-size: x-large;
}

.main2 {
  width: 65%;
  margin: auto;
}

.mainBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.asideMenu ul {
  list-style: none;
  padding: 0;
}

.asideMenu ul a {
  text-decoration: none;
}

.asideMenu ul li {
  padding: 1em 0;
}

.asideMenu ul li:hover {
  border-left: 1px solid #E4D2A3;
  color: #E4D2A3;
}

.card {
  margin: 2em;
  border: 0;
}

.card a {
  text-decoration: none;
}

.cardpading {
  padding: 1em 0;
}

.listBody {
  display: none;
}

@media (max-width: 800px) {
  .asideMenu {
    display: none;
  }
  .card {
    display: none;
  }
  .listBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0;
  }
}

@media (max-width: 1024px) {
  .listBody input {
    width: 5rem;
  }
  .listImg {
    width: 6em;
    height: 6em;
    padding: 0;
  }
  .main2 {
    margin: 0;
  }
  .nameRotate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .amount {
    display: none;
  }
  .quantityText {
    display: none;
  }
  .numButton {
    border-radius: 0;
    border: 0;
  }
  .quantity {
    border: 0;
  }
  .price {
    display: block;
  }
  .coffeeName {
    width: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .quantityText1 {
    width: 5em;
  }
}

@media (max-width: 376px) {
  .nameRotate {
    width: 8em;
  }
}

@media (max-width: 800px) {
  .scrollBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .scroll {
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2em;
    border: 1px solid #E4D2A3;
    padding-top: 5px;
  }
  .asd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200%;
    scrollbar-width: none;
  }
  .pagination_rounded {
    display: none;
  }
  .pagination_rounded ul {
    display: none;
  }
}

.pagination_rounded, .pagination_square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination_rounded ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination_rounded ul li {
  float: left;
  margin-left: 20px;
}

.pagination_rounded ul li a {
  float: left;
  color: #E4D2A3;
  border-radius: 50%;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
}

.pagination_rounded ul li a:hover {
  background: #4285f4;
  color: #fff;
  border: 1px solid #4285f4;
}

.pagination_rounded li:first-child {
  margin-left: 0px;
}

.pagination_rounded .prev {
  margin-left: 0px;
  border-radius: 35px;
  width: 90px;
  height: 34px;
  line-height: 34px;
}

.pagination_rounded .prev i {
  margin-right: 10px;
}

.pagination_rounded .next {
  border-radius: 35px;
  width: 90px;
  height: 34px;
  line-height: 34px;
}

a:link {
  text-decoration: none;
}

.visible-xs {
  display: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 8em auto;
  padding: 20px;
  background: #fff;
  border-radius: 30px;
  width: 50%;
  position: relative;
  height: 60%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #E4D2A3;
}

.popup .content {
  overflow: auto;
}

.popoimg {
  padding: 2em;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0 2em;
}

.PaymentLast {
  border-radius: 10px;
  border: 1px solid #E4D2A3;
  width: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 2em;
  text-align: center;
}

.popupName h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1em;
}

.popotext {
  padding: 2em;
}

.numButton {
  border: #E4D2A3 1px solid;
  border-radius: 20px;
  height: 2em;
  text-align: center;
}

.quantityText, .buttonLeft, .buttonRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity {
  line-height: 2rem;
  text-align: center;
  width: 2rem;
  border-left: #E4D2A3 1px solid;
  border-right: #E4D2A3 1px solid;
}

.btn2 {
  display: none;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 80%;
    height: 80%;
  }
  .popoimg {
    padding: 20px;
  }
  .popotext {
    padding: 1em;
  }
  .overlay {
    width: 100%;
  }
  .content1 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 2em;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .numButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn1 {
    display: none;
  }
  .body1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 376px) {
  .mainBody {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nameRotate {
    margin-left: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */