@charset "UTF-8";
/* -------- 顏色 -------- */
/* -------- 字體 -------- */

/* 彈跳視窗 */
.popupWrap {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
}

.popupBox {
  padding: 100px 100px;
  -webkit-transform: translate(-50%, -50%) scale(0.6);
  transform: translate(-50%, -50%) scale(0.6);
  -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 50%;
}

.popupBox input,
.popupBox select {
  margin-bottom: 25px;
}

.popupBox .ansAddForm > *:not(:last-child):not(:first-child) {
  width: 330px;
  padding: 0.6rem 1rem;
  margin-bottom: 35px;
  border: 1.5px solid #4c3410;
  outline: none;
  -webkit-transition: var(--store-transition);
  transition: var(--store-transition);
}

.popupBox .ansAddForm *:focus {
  background: #ede1c1;
}

.popupBox .ansAddForm a {
  margin: 3rem;
}

.popupBox .ansAddForm textarea {
  height: 200px;
  resize: none;
}

.popupClose {
  width: 50px;
  line-height: 40px;
  color: gray;
  font-size: 32px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: var(--store-transition);
  transition: var(--store-transition);
}

.popupClose:hover {
  color: black;
}
.QAGBbtn{
  margin: 0 auto;
}
.popupTransformIn,
.popupTransformOut {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.popupTransformIn {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.popupTransformOut {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
  transform: translate(-50%, -50%) scale(0.6);
}

.ansWrap {
  min-width: 70%;
  padding-top: 2%;
  /* padding-right: 10%; */
}

.memberAnsDetail {
  padding-top: 2%;
  /* margin: 0rem 3rem 0 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1rem;
}

.memberAnsDetail li {
  margin-bottom: 1rem;
  list-style: none;
}

.memberAnser {
  padding: 1rem;
  margin-top: 2%;
  border: 1px solid #2b3034;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.memberAnser div {
  padding: 1rem;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.memberAnser div:hover {
  background: #ede1c1;
}

.memberAnser div:first-child {
  text-align: right;
}

.memberAnser span {
  font-size: smaller;
}

.memberAnserInout textarea {
  height: 150px;
  margin: 40px 0;
  padding: 2rem;
  border-radius: 10px;
  resize: none;
}
table td a:hover {
  color: #4c3410;
}
