.proMain{
    padding: 0px 50px;
}

.proRight{
    width:fit-content;
    margin: 3rem 0;
}
.proR{
    border-left: 1px solid black;
}
.memberPhoto{
    margin: 20px auto;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #333;
    overflow: hidden;
}
.memberPhoto img{
    width: 100%;
}
.memberNumber{
    margin :30px 0;
    text-align: center;
    font-size: 1.5rem;
}

.memberEdit-m{
    display: none;
}

.proList_m{
    display: none;
}

@media screen and (max-width:1000px) {

    .proList_m{
        display: block;
    }

    
    .memberEdit-w{
        display: none;
    }
    .memberEdit-m{
        display: block;
        justify-content: center;
    }
    .proR{
    border: 0;
    
}   
    .proRight_show{
        margin: 20px 0 20px 0;
    }
    

  
}
@media screen and (max-width:600px)  {
    .card{
        width: 15rem;
    }
}