.asideContent {
    margin: 0 auto; 
}
.asideContent li{
    list-style: none;
    line-height: 3rem;
    width: fit-content;
}
.adminAside {
    display: inline-block;

}

.adminAside a {
    color: #4C3410;
    text-decoration: none;
    border: 1px transparent solid;
    transition: all 0.2s ease;
    padding-left: 5px;
}

.adminAside a:hover {
    border-left: 1px solid #E4D2A3;
    color: #E4D2A3;
}
.adminAside .maindir {
    color: rgb(129, 117, 117);
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 1rem;
    width: fit-content;
}
.mMain {
    margin: 0 auto;
    padding-bottom:2rem ;
    min-height: 55vh;
}
.col-wn{
    display: none;
}
.mMember{
    display: none;
}
.toph2{
    text-align: center;
}
.tophr{
    margin: 0 auto;
    width: 80%;
    color: black;
    border-top:2px black solid ;
}
.adminAside .active{
    color:#E4D2A3;
}

@media screen and (max-width:1000px) {
    .col-wn{
        display: block;
    }
    .col-3None{
        display: none;
    }
    .adminAside {
        /*隱藏選單開始*/
        max-height: 0;
        overflow: hidden;
        /*隱藏選單end*/
        position: absolute;
        /*追隨.header*/
        /*讓選單從左到右延伸start*/
        right: 0;
        left: 0;
        /*讓選單從左到右延伸end*/
        top: 67px;
        /*把menu-list位置移到.header下方。點擊menu滑出/因沒設header高度，所以用開發者工具看高多少*/
        z-index: 100;
        transition: all 2.5s;
    }
    .mMember{
        display: block;
        color:#A37025;
        font-size: 1.5rem;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 3rem ;
   
    }
    .type{
        padding-top: -1rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
    }
    .typeDetail{
        width: 20%;
        display: block;  
        text-align: center;
        border-radius: 20px;
        border: 1px solid #E4D2A3;
        color: #4C3410;
      
        
   
    }
}
