

.userTr{
    border: #E4D2A3 1px solid;
}
.userTr tr{
    line-height: 40px;
}
.userTr tr th{
    height: fit-content;
    border-bottom:#E4D2A3 1px solid; ;
    background-color: #E4D2A3;
    border: #E4D2A3 1px solid;
}

.userTr  tr:hover{
    background-color: rgba(228, 210, 163, 0.5);
}




table{
    cursor: pointer;
}
.QAbtn{
    width: 40%;
    float:right;
    margin-right: 35px;
}
.QAbtn-M{
    display: none;
}

.listnavbar{
    border-bottom: 2px solid #E4D2A3;
    box-sizing:content-box;
    padding: 0; 
    margin-bottom:10px ;
}
.CState{
    cursor: pointer;
    box-sizing: content-box;
    width: 3.5rem;
    padding:10px;
    text-align: center;
    display: inline-block ;
    transition: 0.3s;
    margin: 0 auto;
}
.CState:hover{
    background: #E4D2A3;
}
#nowState{
    background: #E4D2A3;
}

.listcard{
    cursor: pointer;
    padding: 2rem 0;
    border-bottom: #E4D2A3 1px solid;
    line-height: 2rem;
    height: 12rem;
    transition: 0.3s;
}
.listimg{
    max-width: 100%;
    max-height: 8rem;
    display: block;
    margin: 0 auto;
}
.ttpiece{
    padding-top: 3rem;
    font-size: 1.2rem;
    text-align: right;
}
.listdata{
    padding-top:1rem ;
}

.ansAddBtn{
    display: none;
}
a:hover .listcard{
    color:#4C3410;
}
.popupOpen .QAbtn{
    display: block;
}
.QAbtn{
    display: block;
}

@media screen and (max-width:1000px) {
  
    table{
        text-align: center;
    }
    .QAbtn-M{
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
    .listcard{
        cursor: pointer;
        padding: 2rem 0;
        border-bottom: #E4D2A3 1px solid;
        line-height: 2rem;
        height: 20rem;
        transition: 0.3s;
    }
    .rwdData{
        height: fit-content;
    }
    .listnavbar {
       display: inline-flex;
       border: 0;
    }
    .row{
        margin: 0;
    }
    .col-3None{
        display: none;
    }
    .ansAddBtn{
        display: block;
    }
  
}
@media screen and (max-width:600px)  {
    .card{
        width: 15rem;
    }
    .col-2None{
        display: none;
    }
    .CState{
        padding: 0
    }
}
@media screen and (max-width:375px)  {
    .ttpiece{
        font-size: 0.8rem;
    }
}