
.point {
  /* border: 1px #e4d2a3 solid;
  border-radius: 50px; */
  width: 80%;
  /* height: 350px; */
}
.pointHead {
  text-align: center;
  height: 50px;
}

.coupon{
  /* height: 200px; */
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}
.pointHead h4 {
  margin-bottom: 10px;
}
.mypoint_left{
  text-align: left;
}
.couponCard{
  margin-top: 2rem;
}

.pointR .coupon h5 {
  text-align: left;
}
.pointR .coupon div {
  text-align: left;
}
.pointL .coupon .end_date {
  text-align: right;
}

  /* .pointNow {
    color: red;
  } */

@media screen and (max-width: 1000px) {
  .mMember {
    display: block;
    color: #a37025;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3rem;
  }



  
  .proR {
    border: 0;
  }
}
