<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./header.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- <header class="header">
        <section class="flex">
            <nav class="navbar">
                <a href="＃HOME">HOME</a>
                <a href="＃STORE">STORE</a>
                <a href="＃BLOG">BLOG</a>
                <a href="＃SHOP">SHOP</a>
            </nav>
            <a href="home" class="logo"><img src="./img/好室咖啡 1.png" alt=""></a>
            <button type="button" class="btn btn-warning">Warning</button>

        </section>
    </header> -->

    <header class="header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-1"></div>

                <nav class="navbar">
                    <div class="col-1">
                        <a href="＃HOME">HOME</a>
                    </div>
                    <div class="col-1">
                        <a href="＃STORE">STORE</a>
                    </div>
                    <div class="col-1">
                        <a href="＃BLOG">BLOG</a>
                    </div>
                    <div class="col-1">
                        <a href="＃SHOP">SHOP</a>
                    </div>
                </nav>
                <div class="col-2">
                    <a href="home" class="logo"><img src="./img/好室咖啡 1.png" alt=""></a>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-warning">Warning</button>
                </div>


            </div>
        </div>
    </header>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>