@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap");

* {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

.header {
  position: sticky;
  padding: 10px;
}
.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .flex .logo img {
  height: 8rem;
}
.header .flex .navbar a {
  margin-left: 7rem;
  font-size: 2rem;
}
