/* -------- 顏色 -------- */
$main_color: #EDE1C1;
$secondary_color: #E5D8B7;
$font_border_color: #4C3410;
$navbar_font_color: #E4D2A3;
$nav_item_active: #DDB44A;
$nav_item_inactive: #A37025;



/* -------- 字體 -------- */
$main_font: 'Comfortaa', "Microsoft JhengHei", cursive;
$content_font: 'Yantramanav', "Microsoft JhengHei", sans-serif;