.spaceTop {
  margin-bottom: 2em;
}

.spaceTop2 {
  margin-top: 5em;
}

.checkOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check2 {
  color: #000;
  opacity: 0.25;
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.processRWD {
  display: none;
}

.processIn {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.processInBox {
  background-color: #E4D2A3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
  border-radius: 13px;
}

.processInBoxNon {
  padding: 0;
}

.processInBoxLine {
  background-color: #E4D2A3;
  width: 100%;
  height: 5px;
  margin-top: 13px;
}

.processInBoxwhite {
  color: white;
}

.processInBoxColor {
  color: #A37025;
}

.processInBoxNum {
  display: none;
}

.listBody {
  width: 80%;
  margin: auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.listBody input {
  border-radius: 5px;
  border: 1px solid #E4D2A3;
}

.listImg {
  padding: 1.5rem;
}

.numButton {
  border: #E4D2A3 1px solid;
  border-radius: 20px;
  height: 2em;
  text-align: center;
}

.quantityText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity {
  line-height: 2rem;
  text-align: center;
  width: 2rem;
  border-left: #E4D2A3 1px solid;
  border-right: #E4D2A3 1px solid;
}

.quantityText span {
  font-size: 18px;
}

.deletestyle {
  text-decoration: none;
  border: #E4D2A3 1px solid;
  letter-spacing: 2px;
}

.deletestyle span {
  color: black;
}

.deletestyle:hover {
  background-color: #E4D2A3;
}

.btn-outline-secondary {
  background: white;
  border: 1px solid #e4d2a3;
  color: #e4d2a3;
}

.subtotal {
  margin-top: 2em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.subtotal h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.points p {
  margin-top: 1em;
}

.points input {
  margin-bottom: 2em;
}

.Payment h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.trash {
  display: none;
}

.PaymentLast {
  border: #E4D2A3 2px solid;
  border-radius: 10px;
  width: 7rem;
  margin-bottom: 2em;
  color: #7D704D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.Promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.payfun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 1024px) {
  .listBody input {
    width: 5rem;
  }
  .listImg {
    width: 6em;
    height: 6em;
    padding: 0;
  }
  .amount {
    display: none;
  }
  .quantityText {
    display: none;
  }
  .delete {
    display: none;
  }
  .numButton {
    border-radius: 0;
    border: 0;
  }
  .quantity {
    border: 0;
  }
  .buttonLeft {
    border-radius: 5px;
    color: white;
    background-color: #E4D2A3;
    border: 0;
  }
  .buttonRight {
    border-radius: 5px;
    color: white;
    background-color: #E4D2A3;
    border: 0;
  }
  .price {
    display: block;
  }
  .nameRotate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 2em;
    width: 11em;
  }
  .coffeeName {
    width: 8em;
    padding-bottom: 10px;
  }
  .trash {
    display: block;
  }
  .check2 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .PromoBody {
    width: 100%;
  }
  .Promo {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .Promo input {
    width: 80%;
  }
  .Payment {
    width: 100%;
  }
  .Payment .sel--black-panther {
    width: 100%;
  }
  .Payment .sel__placeholder {
    text-align: center;
  }
  .processInBox {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #A37025;
    border: #000 1px solid 0.25;
  }
  .processInBox .check1 {
    display: none;
  }
  .processInBoxNum {
    display: block;
    color: white;
  }
  .processRWD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .processInBoxLine {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: black;
    opacity: 0.25;
  }
  .subtotal {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .listBody {
    padding: 5px 0;
  }
  .listImg {
    width: 4em;
    height: 4em;
    padding: 0;
  }
  .nameRotate {
    margin-left: 0;
    padding-left: 0;
    width: 7em;
  }
  .processRWDcenter {
    width: 6em;
    white-space: nowrap;
  }
}

.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), color-stop(#c9bbae), to(#f0f0f0));
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

@media (max-width: 600px) {
  .rule {
    width: 100%;
  }
}

/* ===== Select Box ===== */
.sel {
  font-size: 10px;
  display: inline-block;
  width: 18em;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: #E4D2A3 1px solid;
  border-radius: 5px;
  background: white;
}

.sel::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 1.5em;
  color: white;
  right: 20px;
  top: calc(40% - 0.5em);
  color: #E4D2A3;
}

.sel.active::before {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-family: 'Quicksand';
  font-size: 16px;
  color: #E4D2A3;
  padding: 0.5em 1em;
  text-align: left;
  margin-left: 15px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 12px;
  background-color: #FFF;
  width: calc(100% + 8px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  -webkit-animation: fadeInUp 500ms;
          animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'Quicksand';
  font-size: 1.5em;
  color: #E4D2A3;
  padding: 0.5em 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 12px;
  margin-left: 5px;
  display: none;
}

ion-icon {
  font-size: 10px;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #E4D2A3;
  color: white;
}

/* ----- Select Box Black Panther ----- */
.sel--black-panther {
  z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
  /*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=styleCheckout.css.map */