/* ----- Variables ----- */
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

/* ----- Global ----- */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr;
    font-family: "Raleway", sans-serif;
    background-color: #01e37f;
}

h3 {
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: $color-secondary;
}

img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px $color-secondary);
}

/* ----- Product Section ----- */
.product {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em 0;
    min-width: 600px;
    background-color: white;
    border-radius: 5px;
    width: 500px;
}

/* ----- Photo Section ----- */
.product__photo {
    position: relative;
}

.photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
    border-radius: 6px 6px 0 0;
    background-color: #9be010;
    background: radial-gradient(#e5f89e, #96e001);

    .controls {
        display: flex;
        justify-content: space-between;
        padding: 0.8em;
        color: #fff;

        i {
            cursor: pointer;
        }
    }

    img {
        position: absolute;
        left: -3.5em;
        top: 2em;
        max-width: 110%;
        filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    }
}

.photo-album {
    padding: 0.7em 1em;
    border-radius: 0 0 6px 6px;
    background-color: #fff;

    ul {
        display: flex;
        justify-content: space-around;
    }

    li {
        float: left;
        width: 55px;
        height: 55px;
        padding: 7px;
        border: 1px solid $color-secondary;
        border-radius: 3px;
    }
}

/* ----- Informations Section ----- */
.product__info {
    padding: 0.8em 0;
}

.title {
    h1 {
        margin-bottom: 0.1em;
        color: $color-primary;
        font-size: 1.5em;
        font-weight: 900;
    }

    span {
        font-size: 0.7em;
        color: $color-secondary;
    }
}

.price {
    margin: 1.5em 0;
    color: $color-highlight;
    font-size: 1.2em;

    span {
        padding-left: 0.15em;
        font-size: 2.9em;
    }
}

.variant {
    overflow: auto;

    h3 {
        margin-bottom: 1.1em;
    }

    li {
        float: left;
        width: 35px;
        height: 35px;
        padding: 3px;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: pointer;

        &:first-child,
        &:hover {
            border: 1px solid $color-secondary;
        }
    }

    li:not(:first-child) {
        margin-left: 0.1em;
    }
}

.description {
    clear: left;
    margin: 2em 0;

    h3 {
        margin-bottom: 1em;
    }

    ul {
        font-size: 0.8em;
        list-style: disc;
        margin-left: 1em;
    }

    li {
        text-indent: -0.6em;
        margin-bottom: 0.5em;
    }
}

.buy--btn {
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: $color-highlight;
    box-shadow: 2px 2px 25px -7px $color-primary;
    cursor: pointer;

    &:active {
        transform: scale(0.97);
    }
}

/* ----- Footer Section ----- */
footer {
    padding: 1em;
    text-align: center;
    color: #fff;

    a {
        color: $color-primary;

        &:hover {
            color: $color-highlight;
        }
    }
}

.aside1 {
    font-size: x-large;
}

.adminAside {
    padding-top: 2%;
    padding-left: 3%;
    width: 30%;
    min-width: 120px;

}

.asideContent {
    margin: 0 auto;
    min-width: 400px;
    width: 20%;
}

.adminAside a {
    color: #4C3410;
    text-decoration: none;
    border: 1px transparent solid;
    transition: all 0.2s ease;
}

.adminAside a:hover {
    border-left: 1px solid #E4D2A3;
    color: #E4D2A3;
}

.adminAside .maindir {
    color: rgb(129, 117, 117);
    font-size: larger;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.adminAside ul {
    padding-left: 6rem;
}

.adminAside li {
    list-style: none;

}

.pMain {
    padding-top: 2%;

}

.card {
    border: hidden;
    width: 25rem;
    padding-right: 2rem;
    padding-bottom: 4rem;

}

.cardPrice {
    margin-top: -1rem;
}

.package a :hover {
    opacity: 0.6;
}

.adminAside {
    display: inline-block;

}

.pMain {
    margin: 0 auto;
    display: inline-block;
    /* min-width: 800px; */
}

.type {
    display: none;
}

.mShop {
    display: none;
}



@media screen and (max-width:800px) {
    .mShop {
        display: block;
        color: rgb(129, 117, 117);
        font-size: 1.5rem;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 3rem;

    }

    .type {
        padding-top: -1rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
    }

    .typeDetail {
        width: 20%;
        display: block;
        text-align: center;
        border-radius: 20px;
        border: 1px solid #E4D2A3;
        color: #4C3410;



    }

    .adminAside {
        /*隱藏選單開始*/
        max-height: 0;
        overflow: hidden;
        /*隱藏選單end*/
        position: absolute;
        /*追隨.header*/
        /*讓選單從左到右延伸start*/
        right: 0;
        left: 0;
        /*讓選單從左到右延伸end*/
        top: 67px;
        /*把menu-list位置移到.header下方。點擊menu滑出/因沒設header高度，所以用開發者工具看高多少*/
        z-index: 100;
        transition: all 2.5s;
    }



}

@media screen and (max-width:600px) {
    .card {
        width: 15rem;
    }
}