$colorMain: #E4D2A3;
$colorMain2: #7D704D;
$colorMain3: #A37025;
// 空白
.spaceTop {
  margin-bottom:2em;
}

.spaceTop2{
  margin-top:5em;
}

.checkOut {
    display: flex;
    justify-content: center;
}

.check2{
  color: #000;
  opacity:  0.25;
}




// 流程圖

.process {
    display: flex;
    justify-content: center;
}
.processRWD{
  display: none;
}

.processIn {
    width: 50rem;
    display: flex;
    justify-content: center;
}

.processInBox {
    background-color: $colorMain;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-radius: 13px;

}

.processInBoxNon {
    padding: 0;
}

.processInBoxLine {
    background-color: $colorMain;
    width: 100%;
    height: 5px;
    margin-top: 13px;
}

.processInBoxwhite{
  color: white;
}

.processInBoxColor {
  color: $colorMain3;
}

.processInBoxNum {
  display: none;
}

// 訂單列表
.listBody {
    width: 80%;
    margin: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;

    input {
        border-radius: 5px;
        border: 1px solid $colorMain;
    }
}

.listImg {
    padding: 1.5rem;
}

.numButton {
    border: #E4D2A3 1px solid;
    border-radius: 20px;
    height: 2em;
    text-align: center;

}

.quantityText {
    display: flex;
    align-items: center;
}

.buttonLeft {
    display: flex;
    align-items: center;
}

.buttonRight {
    display: flex;
    align-items: center;
}

.quantity {
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    border-left: #E4D2A3 1px solid;
    border-right: #E4D2A3 1px solid;
}
.quantityText{
    span{
        font-size: 18px;
    }
    
}

.deletestyle {
        text-decoration: none;
        border: #E4D2A3 1px solid;
        letter-spacing: 2px;
        span {
          color: black;
        }
  } 

  .deletestyle:hover{
      background-color: #E4D2A3;
  }

  .btn-outline-secondary{
    background: white;
    border: 1px solid #e4d2a3;
    color: #e4d2a3;
  }
  
.subtotal {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: end;
    h4{
      display: flex;
      justify-content: end;
    }
}

.points {
    p {
        margin-top: 1em;
    }

    input {
        margin-bottom: 2em;
    }
}

.Payment {
    h3 {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.trash{
  display: none;
}

.PaymentLast {
    border: $colorMain 2px solid;
    border-radius: 10px;
    width: 7rem;
    margin-bottom: 2em;
    color: 	$colorMain2;
    display: flex;
    justify-content: center;
    background-color: white;
}

.Promo{
  display: flex;
  justify-content: end;
}

.payfun {
  display: flex;
  justify-content: end;
}

@media (max-width:1024px) {
    .listBody {
        input {
            width: 5rem;
        }
    }
    .listImg {
      width: 6em;
      height: 6em;
      padding: 0;
    }
    .amount {
      display: none;
    }
    .quantityText {
      display: none;
    }
    .delete {
      display: none;
    }
    .numButton {
      border-radius: 0;
      border: 0;
    }
    .quantity {
      border: 0;
    }
    .buttonLeft {
      border-radius: 5px;
      color: white;
      background-color: $colorMain;
      border: 0;
    }
    .buttonRight {
      border-radius: 5px;
      color: white;
      background-color: $colorMain;
      border: 0;
    }
    .price {
      display: block;
    }
    .nameRotate{
      // align-items: center;
      flex-direction: column;
      padding-left: 2em;
      width: 11em;
    }
    .coffeeName {
      width: 8em;
      padding-bottom: 10px;
    }
    .trash {
      display: block;
    }
    .check2{
      display: none;
    }
}

@media (max-width:1024px) {
  .PromoBody{
    width: 100%;
  }
  .Promo {
    justify-content: normal;
    input{
      width: 80%;
    }
  }
  .Payment {
    width: 100%;
    .sel--black-panther{
      width: 100%;
    }
    .sel__placeholder {
      text-align: center;
    }
  }
  .processInBox {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: $colorMain3;
    border: #000 1px solid 0.25;
    .check1{
      display: none;
    }
  }
  .processInBoxNum {
    display: block;
    color: white;
  }
  .processRWD{
    display: flex;
  }
  .processInBoxLine {
    height: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    background-color: black;
    opacity: 0.25;
  }
  .subtotal {
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width:1024px) {
  .listBody{
    padding: 5px 0;
  }

  .listImg {
    width: 4em;
    height: 4em;
    padding: 0;
  }

  .nameRotate {
    margin-left: 0;
    padding-left: 0;
    width: 7em;
  }

  .processRWDcenter{
    width: 6em;
    white-space:nowrap;
  }
}

// drowdown

.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  }

  @media (max-width:600px) {
    .rule {
      width: 100%;
    }
  }
  /* ===== Select Box ===== */
  .sel {
    font-size: 10px;
    display: inline-block;
    // margin: 3em 2em;
    width:18em;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border: $colorMain 1px solid;
    border-radius: 5px;
    background: white;
  }
  
  .sel::before {
    position: absolute;
    content: '\f063';
    font-family: 'FontAwesome';
    font-size: 1.5em;
    color: white;
    right: 20px;
    top: calc(40% - 0.5em);
    color: $colorMain;
  }
  
  .sel.active::before {
    transform: rotateX(-180deg);
  }
  
  .sel__placeholder {
    display: block;
    font-family: 'Quicksand';
    font-size:16px;
    color: $colorMain;
    padding: 0.5em 1em;
    text-align: left;
    margin-left: 15px;
    pointer-events: none;
    user-select: none;
    visibility: visible;
  }
  
  .sel.active .sel__placeholder {
    visibility: hidden;
  }
  
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
  }
  
  .sel.active .sel__placeholder::before {
    visibility: visible;
    
  }
  
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 12px;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
  }
  
  .sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
  }
  
  .sel__box__options {
    display: list-item;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: $colorMain;
    padding: 0.5em 1em;
    user-select: none;
  }
  
  .sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size:12px;
    margin-left: 5px;
    display: none;
  }
  
  ion-icon{
    font-size: 10px;
  }

  .sel__box__options.selected::after {
    display: inline;
  }
  
  .sel__box__options:hover {
    background-color: $colorMain;
    color: white
  }
  
  /* ----- Select Box Black Panther ----- */
  
  .sel--black-panther {
    z-index: 3;
  }
  
  /* ----- Select Box Superman ----- */
  .sel--superman {
  /*   display: none; */
    z-index: 2;
  }
  
  /* ===== Keyframes ===== */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
