.body1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrollBody {
  width: 100%;
}

.scroll {
  display: none;
}

.scroll span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main1 {
  width: 20%;
}

.onlion {
  margin-bottom: 1em;
  font-size: x-large;
}

.main2 {
  margin: auto;
}

.mainBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.asideMenu ul {
  list-style: none;
  padding: 0;
}

.asideMenu ul a {
  text-decoration: none;
}

.asideMenu ul li {
  padding: 1em 0;
}

.asideMenu ul li:hover {
  border-left: 1px solid #E4D2A3;
  color: #E4D2A3;
}

.card {
  margin: 2em;
  border: 0;
}

.card a {
  text-decoration: none;
}

.cardpading {
  padding: 1em 0;
}

.listBody {
  display: none;
}

@media (max-width: 800px) {
  .asideMenu {
    display: none;
  }
  .card {
    display: none;
  }
  .listBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0;
  }
}

@media (max-width: 1024px) {
  .listBody input {
    width: 5rem;
  }
  .listImg {
    width: 6em;
    height: 6em;
    padding: 0;
  }
  .nameRotate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 22em;
  }
  .amount {
    display: none;
  }
  .quantityText {
    display: none;
  }
  .numButton {
    border-radius: 0;
    border: 0;
  }
  .quantity {
    border: 0;
  }
  .price {
    display: block;
  }
  .coffeeName {
    width: 8em;
    padding-bottom: 10px;
  }
  .quantityText1 {
    width: 5em;
  }
}

@media (max-width: 376px) {
  .nameRotate {
    width: 8em;
  }
}

@media (max-width: 800px) {
  .scrollBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .scroll {
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2em;
    border: 1px solid #E4D2A3;
    padding-top: 5px;
  }
  .asd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200%;
    scrollbar-width: none;
  }
  .pagination_rounded {
    display: none;
  }
  .pagination_rounded ul {
    display: none;
  }
}

.pagination_rounded, .pagination_square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination_rounded ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination_rounded ul li {
  float: left;
  margin-left: 20px;
}

.pagination_rounded ul li a {
  float: left;
  color: #E4D2A3;
  border-radius: 50%;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
}

.pagination_rounded ul li a:hover {
  background: #4285f4;
  color: #fff;
  border: 1px solid #4285f4;
}

.pagination_rounded li:first-child {
  margin-left: 0px;
}

.pagination_rounded .prev {
  margin-left: 0px;
  border-radius: 35px;
  width: 90px;
  height: 34px;
  line-height: 34px;
}

.pagination_rounded .prev i {
  margin-right: 10px;
}

.pagination_rounded .next {
  border-radius: 35px;
  width: 90px;
  height: 34px;
  line-height: 34px;
}

a:link {
  text-decoration: none;
}

.visible-xs {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */