.listcard{
    cursor: pointer;
    padding: 2rem 0;
    border-bottom: #E4D2A3 1px solid;
    line-height: 2rem;
    height: 12rem;
    transition: 0.3s;
}
.listimg{
    max-width: 100%;
    max-height: 8rem;
    display: block;
    margin: 0 auto;
}
.state{
    font-size: 1.5rem;
}
.rwdGT{
    font-size: 1.5rem;
}
@media screen and (max-width:1000px) {
    .listcard{
        cursor: pointer;
        padding: 2rem 0;
        border-bottom: #E4D2A3 1px solid;
        line-height: 2rem;
        height: 20rem;
        transition: 0.3s;
    }
}