@import '~bootstrap/scss/bootstrap';

/* -------- 顏色 -------- */
$main_color: #EDE1C1;
$secondary_color: #E5D8B7;
$font_border_color: #4C3410;
$navbar_font_color: #E4D2A3;
$nav_item_active: #DDB44A;
$nav_item_inactive: #A37025;

/* -------- 字體 -------- */
$main_font: 'Comfortaa', "Microsoft JhengHei", cursive;
$content_font: 'Yantramanav', "Microsoft JhengHei", sans-serif;





/* -------- 修改標籤預設 -------- */
body, h1, h2, h3, h4, h5, h6, p, span, li, a{
  font-family: $main_font;
  color: $font_border_color;
  font-weight: 600;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  fill: $secondary_color;
}



/* -------- ScrollBar -------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
*::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
*::-webkit-scrollbar-thumb {
  background: $navbar_font_color;
  border-radius: 3px;
  transition: all 1s;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: $nav_item_inactive;
}

/* -------- button -------- */
$btn_height: 40px;
$btn_font_size: 16px;

.coffeeDarkBtn, .coffeeLightBtn{
  height: $btn_height;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  color: white;
  font-size: $btn_font_size;
  font-weight: 600;
  text-align: center;
  background: $nav_item_inactive;
  border: none;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}
.coffeeDarkBtn:hover{
  cursor: pointer;
  color: $font_border_color;
  background: $nav_item_active;
}
.coffeeLightBtn:hover{
  cursor: pointer;
  color: white;
  border: 4px solid $nav_item_inactive;
  background: $nav_item_inactive;
}
.coffeeLightBtn{
  color: $navbar_font_color;
  border: 4px solid $navbar_font_color;
  background: white;
}

/* -------- input checkbox radio -------- */
input{
  padding: 10px 1rem;
  border: 2px solid $main_color;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
  transition: all .2s ease-in-out;
}
input:focus{
  box-shadow: 0px 0px 8px $main_color;
}

/* Basic styles */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  line-height: 1.5em;
  padding: 0 0 0 1.5em;
  cursor: pointer;
}
label::before,
label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
}
label::before {
  content: " ";
  border: 2px solid $font_border_color;
  border-radius: 20%;
}
/* Checkbox */
input[type="checkbox"] + label::after {
  content: "\2714";
  color: $font_border_color;
  line-height: 1.5;
  text-align: center;
}
/* Radio */
input[type="radio"] + label::before {
  border-radius: 50%;
}
input[type=radio] + label::after {
  content: " ";
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background: #fff;
  border: 5px solid $nav_item_inactive;
  border-radius: 50%;
}
/* :checked */
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background: #fff;
  border-color: #fff;
}
input[type="checkbox"] + label::after,
input[type=radio] + label::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
input[type="checkbox"]:checked + label::after,
input[type=radio]:checked + label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* Transition */
label::before,
label::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}