@import '../baseVariable';


// storeMap

.mapAndCardWrap{
  margin-top: -3rem;
  display: flex;
  flex-direction: row;
}
.storeSearch{
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  display: flex;
  vertical-align: middle;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.10);
  input{
    width: 100%;
    background: transparent;
    border: 0;
  }
  input:focus{
    outline: none;
  }
  svg{
    cursor: pointer;
  }
}
.cardGroupWrap{
  width: 375px;
  height: calc(100vh - 150px);
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.storeWrap{
  width: 375px;
  height: calc(100vh - 150px);
  padding: .1rem .5rem;
  overflow-x: hidden;
}
.cardDetail{
  width: 375px;
  padding: 15px 40px;
  background: white;
  position: absolute;
  top: 0;
  left: -400px;
  transition: all .3s ease-in-out;
  overflow: scroll;
  h5{
    margin: 10px 0;
  }
  li{
    padding: 5px 0;
    margin-left: 10px;
    list-style: none;
    font-weight: 600;
    }
  .closeCardDetail{
    text-align: right;
    margin-bottom: 20px;
  }
  div{
    li, h5{
      text-align: left;
      font-weight: 600;
    }
  }
  .storeServeList{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 5px;
    li{
      margin: 0px;
    }
  }
}
.cardDetailOpenCss{
  left: 0px;
}
.cardWrap{
  width:100%;
  height:100px;
  margin-bottom: 5px;
  background: white;
  border-radius: 5px;
  padding:10px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  transition: all .2s ease-in-out;
  div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s;
    color: $font_border_color;
  }
  div:last-child:hover{
    color: $nav_item_inactive;
  }
  img{
    height: 60px;
    border-radius: 5px;
  }
  .itemText{
    height: 60px;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
      margin: 0;
      font-size: 14px;
    }
    p:first-child{
      font-size: 16px;
    }
  }
}
.cardWrap:hover{
  background: $main_color;
  // box-shadow: 0px 0px 5px $font_border_color;
}
.mapWrap{
  width: calc(100% - 350px);
  // height: calc(100vh - 120px);
  background: #000;
}

@media screen and (max-width:800px) {
  .mapAndCardWrap{
    flex-direction: column-reverse;
  }
  .cardGroupWrap{
    width: auto;
  }
  .mapWrap{
    width: 100%;
    height: 60vh;
    background: #000;
  }
  .cardDetail{
    top: 800px;
    background: $secondary_color;
  }
  .cardDetailOpenCss{
    top: 0px;
    left: calc(50% - 180px);
  }
}



// storeIndex

.storeBanner{
  width: 100%;
  height: 500px;
  background: no-repeat center/cover url("./img/storeBanner.png");
  margin-top: -3rem;
}
.storeIndex{
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  p{
    margin: 0;
    display: flex;
    align-items: center;
  }
  div{
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    border: 2px solid $main_color;
    border-radius: 40px;
    cursor: pointer;
    img{
      transition: all .5s;
    }
    a{
      width: 100%;
      height: 300px;
      text-decoration: none;
      color: white !important;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background: rgba(000, 000, 000, .4);
      transition: all .5s ease-out;
    }
  }
  div:first-child img{
    width: 20%;
  }
  div:first-child, div:nth-child(3){
    a{
      left: -100%;
    }
  }
  div:nth-child(2){
    a{
      right: -100%;
    }
  }

  div:first-child:hover{
    img{
      width: 25%;
    }
    a{
      left: 0;
    }
  }
  
  div:nth-child(2):hover{
    a{
      right: 0;
    }
  }
  div:nth-child(3):hover{
    a{
      left: 0;
    }
  }
}

@media screen and(max-width:600px) {
  .storeBanner{
    height: 300px;
  }
  .storeIndex{
    gap: 30px;
    div{
        width: calc(100% - 60px);
    }
    div:nth-child(1){
      p, img{
        display: none;
      }
    }
    div:nth-child(1), div:nth-child(3){
      a{
        left: 0;
      }
    }
    div:nth-child(2){
      a{
        right: 0;
      }
    }
  }
}