.article-banner{
    width:100% ;
    height: 500px;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/Article00.svg);
}

.title{
    font-size: 30px;
    font-weight:bolder;

}


.outside-link{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    position:relative;
    right: 300px;
    bottom: 30px;
    padding-right: 10px;
}

p,span{
    font-size: 16px;
}
