@import 'base';

/* -------- footer -------- */
.coffeeFooter{
  width: 100%;
  height: 300px;
  padding-top: 3rem;
  color: $font_border_color;
  background: $main_color;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  div:nth-child(2){
    div{
      align-items: baseline;
      i{
        margin-right: 5px;
      }
    }
  }
  // div{
  //   margin: 2rem;
  // }
  div{
    margin: 1rem;
    li{
      padding: 0.2rem 0rem;
    }
  }
  a{
    color: $font_border_color;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  a:hover{
    color: $nav_item_inactive;
  }
  .tofb{
    cursor: pointer;
  }
  .tofb:hover{
    color: $nav_item_inactive;
  }
}
@media screen and (max-width:800px) {
  .coffeeFooter{
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    div{
      margin: .5rem;
      li{
        text-align: center;
        padding: 0.2rem 0rem;
      }
    }
    div:nth-child(2){
      div{
        justify-content: center;
      }
    }
  }
}