button {
    border: 1px solid purple;
    background-color: yellow;
    font-size: larger;
    margin: 10px;
}
.INT888{
    margin: 20px ;
   height: 30px;
}
.CHBX2{
    display: inline-block;
}
.a8787{
    margin: 20px;
}